{
  "swagger" : "2.0",
  "info" : {
    "description" : "User Administration",
    "version" : "v1.0.0",
    "title" : "UserAdministration"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/onlineServices" : {
      "get" : {
        "operationId" : "getOnlineServices",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Status of the arrangement. E.g. AUTH, CLOSE, UNAUTH etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "roleOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterArrangementId",
          "in" : "query",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementName",
          "in" : "query",
          "description" : "The name of the sub arrangement that is displayed.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OnlineServicesResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServicesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "operationId" : "validateOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "validateOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServiceApprovals/amendments/{arrangementActivityId}/{arrangementId}" : {
      "put" : {
        "operationId" : "amendOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementActivityId",
          "in" : "path",
          "description" : "The unique identifier of an arrangement activity.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "amendOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServiceApprovals/{arrangementActivityId}" : {
      "put" : {
        "operationId" : "approveOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementActivityId",
          "in" : "path",
          "description" : "The unique identifier of an arrangement activity.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "approveOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "rejectOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementActivityId",
          "in" : "path",
          "description" : "The unique identifier of an arrangement activity.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "rejectOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse2"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServiceApprovals/{arrangementActivityId}/{arrangementId}" : {
      "put" : {
        "operationId" : "initiateOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementActivityId",
          "in" : "path",
          "description" : "The unique identifier of an arrangement activity.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "initiateOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/customers/{customerId}/productGroups/{productGroupId}/products" : {
      "get" : {
        "operationId" : "getCustomerProductsByProductGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "path",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "allowedProducts",
          "in" : "query",
          "description" : "Product or products allowed to be used within the product bundle.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "onlineServicesProductId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerProductsByProductGroupResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerProductsByProductGroupResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/customers/{customerId}/onlineServices/{onlineServicesProductId}/products" : {
      "get" : {
        "operationId" : "getCustomerProductsByOnlineServicesProduct",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "onlineServicesProductId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "allowedProducts",
          "in" : "query",
          "description" : "Product or products allowed to be used within the product bundle.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerProductsByOnlineServicesProductResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerProductsByProductGroupResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServices/{arrangementId}/externalUserAllocations" : {
      "get" : {
        "operationId" : "getExternalUserAllocations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subArrangementId",
          "in" : "query",
          "description" : "The subset of Master arrangement.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "countOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ExternalUserAllocationsResponse",
            "schema" : {
              "$ref" : "#/definitions/ExternalUserAllocationsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServices/{arrangementId}" : {
      "get" : {
        "operationId" : "getOnlineServiceByArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementActivityId",
          "in" : "query",
          "description" : "The unique identifier of an arrangement activity.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOnlineServiceByArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceByArrangementResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServices/activity/{arrangementActivityId}" : {
      "get" : {
        "operationId" : "getOnlineServiceByArrangementActivity",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementActivityId",
          "in" : "path",
          "description" : "The unique identifier of an arrangement activity.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOnlineServiceByArrangementActivityResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceByArrangementResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServiceApprovals/{arrangementId}" : {
      "get" : {
        "operationId" : "getOnlineServiceApprovalByArrangement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementActivityId",
          "in" : "query",
          "description" : "The unique identifier of an arrangement activity.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOnlineServiceApprovalByArrangementResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceByArrangementResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServiceApprovals/activity/{arrangementActivityId}" : {
      "get" : {
        "operationId" : "getOnlineServiceApprovalByArrangementActivity",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementActivityId",
          "in" : "path",
          "description" : "The unique identifier of an arrangement activity.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getOnlineServiceApprovalByArrangementActivityResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceByArrangementResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServiceApprovals" : {
      "get" : {
        "operationId" : "getOnlineServiceApprovals",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "roleOnly",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "masterArrangementId",
          "in" : "query",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementStatus",
          "in" : "query",
          "description" : "Status of the arrangement. E.g. AUTH, CLOSE, UNAUTH etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroupId",
          "in" : "query",
          "description" : "The group, as defined by the institution, that the product belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subArrangementName",
          "in" : "query",
          "description" : "The name of the sub arrangement that is displayed.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "inputterId",
          "in" : "query",
          "description" : "The user identifier Id who input the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OnlineServiceApprovalsResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceApprovalsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/onlineServices/{arrangementActivityId}/{arrangementId}" : {
      "put" : {
        "operationId" : "createOnlineService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementActivityId",
          "in" : "path",
          "description" : "The unique identifier of an arrangement activity.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OnlineService"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createOnlineServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/OnlineServiceResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "OnlineService" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OnlineServiceBody"
        }
      },
      "description" : "OnlineService"
    },
    "OnlineServiceBody" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "The identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer"
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "Input is the� valid field name for the metrics evaluation of alerts",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition"
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field"
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field"
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created."
        },
        "subArrangementName" : {
          "type" : "string",
          "description" : "The name of the sub arrangement that is displayed."
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the principal movement is effected"
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
        },
        "transactionAmount" : {
          "type" : "number",
          "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency"
        },
        "customer" : {
          "type" : "object",
          "properties" : {
            "customers" : {
              "type" : "array",
              "description" : "The customer number",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customer" : {
                    "type" : "string",
                    "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
                  },
                  "customerRole" : {
                    "type" : "string",
                    "description" : "Indicates role of a customer for an arrangement."
                  },
                  "taxLiabilityPercentage" : {
                    "type" : "number",
                    "description" : "Tax liability percentage of the customer"
                  },
                  "limitAllocactionPercentage" : {
                    "type" : "number",
                    "description" : "Indicates percentage of limit allocated to the customer out of overall limit"
                  },
                  "GLAllocactionPercentage" : {
                    "type" : "number",
                    "description" : "Indicates GL allocation percentage of the customer"
                  }
                }
              }
            },
            "jointLiability" : {
              "type" : "string",
              "description" : "Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  "
            }
          }
        },
        "tcpermissions" : {
          "type" : "object",
          "properties" : {
            "definedCustomers" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "definedCustomer" : {
                    "type" : "string",
                    "description" : "Allowed customers for the selected arrangement; where in they can see their product in Internet Banking"
                  },
                  "definedCustomerSel" : {
                    "type" : "boolean",
                    "description" : "Available accounts for the allowed customer will be displayed if this field is set as Yes .If set as No, accounts will not be available"
                  },
                  "definedCompanies" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "definedCompany" : {
                          "type" : "string",
                          "description" : "Allowed company for the defined customer"
                        }
                      }
                    }
                  }
                }
              }
            },
            "defPrdGroups" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "definedProductGroups" : {
                    "type" : "string",
                    "description" : "Product groups that can be accessed by external users via a specific Online Services product"
                  },
                  "definedProductGroupSel" : {
                    "type" : "string",
                    "description" : "Level of permission defined for the product group"
                  }
                }
              }
            },
            "relCustomers" : {
              "type" : "array",
              "description" : "The product for which the pricing plan is applicable",
              "items" : {
                "type" : "object",
                "properties" : {
                  "relationCustomer" : {
                    "type" : "string",
                    "description" : "Customers linked or related to the arrangement owner"
                  },
                  "productGroups" : {
                    "type" : "string",
                    "description" : "The group, as defined by the institution, that the product belongs to."
                  },
                  "productGroupSel" : {
                    "type" : "string",
                    "description" : "Level of permission applicable for the associated Product groups; Possible values: Exclude, See, Transact"
                  },
                  "products" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "product" : {
                          "type" : "string",
                          "description" : "Indicates an id or name of a product"
                        },
                        "productSel" : {
                          "type" : "string",
                          "description" : "Level of permission applicable for the associated Products; Possible values: Exclude, See, Transact"
                        }
                      }
                    }
                  }
                }
              }
            },
            "masterLevelChange" : {
              "type" : "string",
              "description" : "Marker to identify whether changes made at Master Arrangement level"
            }
          }
        },
        "tcprivileges" : {
          "type" : "object",
          "properties" : {
            "services" : {
              "type" : "array",
              "description" : "Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)",
              "items" : {
                "type" : "object",
                "properties" : {
                  "serviceId" : {
                    "type" : "string",
                    "description" : "Contains the identifier name of the service that has to be executed."
                  },
                  "serviceActive" : {
                    "type" : "boolean",
                    "description" : "Indicate whether service is active or not."
                  },
                  "operations" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "operationId" : {
                          "type" : "string",
                          "description" : "ID of the operation which Identifies the required operation to be executed for a Trade Finance contract."
                        },
                        "operationActive" : {
                          "type" : "boolean",
                          "description" : "Indiciate whether operation is active or not"
                        }
                      }
                    }
                  }
                }
              }
            },
            "masterLevelChange" : {
              "type" : "string",
              "description" : "Marker to identify whether changes made at Master Arrangement level"
            }
          }
        },
        "tcavailability" : {
          "type" : "object",
          "properties" : {
            "day" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "dayName" : {
                    "type" : "string",
                    "description" : "Day name of the week"
                  },
                  "daySelect" : {
                    "type" : "boolean",
                    "description" : "Allowed days to access Internet Banking"
                  },
                  "time" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "startTime" : {
                          "type" : "string",
                          "description" : "Contains the time job was started"
                        },
                        "endTime" : {
                          "type" : "string",
                          "description" : "Contains the time the job  ended."
                        }
                      }
                    }
                  }
                }
              }
            },
            "masterLevelChange" : {
              "type" : "string",
              "description" : "Marker to identify whether changes made at Master Arrangement level"
            }
          }
        },
        "dailylimits" : {
          "type" : "object",
          "properties" : {
            "system" : {
              "type" : "array",
              "description" : "",
              "items" : {
                "type" : "object",
                "properties" : {
                  "systemId" : {
                    "type" : "string",
                    "description" : "The system application identifier from which the entry was generated"
                  },
                  "application" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "applicationId" : {
                          "type" : "string",
                          "description" : "Contains the application id of the service that has crashed due to error."
                        }
                      }
                    }
                  }
                }
              }
            },
            "transaction" : {
              "type" : "array",
              "description" : "",
              "items" : {
                "type" : "object",
                "properties" : {
                  "type" : {
                    "type" : "string",
                    "description" : "The product condition has an activity type associated that drives an action."
                  }
                }
              }
            },
            "currency" : {
              "type" : "array",
              "description" : "Identifies the underlying currency used for the transaction.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "allowedCurrency" : {
                    "type" : "string",
                    "description" : "Available currencies for the product"
                  }
                }
              }
            },
            "riskRate" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "benRiskRate" : {
                    "type" : "string",
                    "description" : "List of Beneficiary risk rate that the protection limit applies to"
                  }
                }
              }
            },
            "timeOfDay" : {
              "type" : "string",
              "description" : "Time of Day"
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
            },
            "limitAmount" : {
              "type" : "number",
              "description" : "The Limit amount that is actually available for use. The system limit checks are preformed against the online limit"
            }
          }
        },
        "tclicensing" : {
          "type" : "object",
          "properties" : {
            "noOfUsers" : {
              "type" : "string",
              "description" : "The maximum number of users that can be linked to a master arrangement or its roles"
            },
            "noOfRoles" : {
              "type" : "string",
              "description" : "The maximum number of roles that can be linked to the master arrangement"
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "OnlineServiceResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OnlineServiceResponseBody"
        }
      },
      "description" : "OnlineServiceResponse"
    },
    "OnlineServiceResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "customerIds" : {
              "type" : "array",
              "description" : "The identifier of the customer",
              "items" : {
                "type" : "object",
                "properties" : {
                  "customerId" : {
                    "type" : "string",
                    "description" : "Identifier of the customer"
                  }
                }
              }
            },
            "properties" : {
              "type" : "array",
              "description" : "Input is the� valid field name for the metrics evaluation of alerts",
              "items" : {
                "type" : "object",
                "properties" : {
                  "propertyId" : {
                    "type" : "string",
                    "description" : "The identifier of the product condition"
                  },
                  "fields" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "fieldName" : {
                          "type" : "string",
                          "description" : "The name of the field"
                        },
                        "fieldValue" : {
                          "type" : "string",
                          "description" : "Value of the field"
                        }
                      }
                    }
                  }
                }
              }
            },
            "overrides" : {
              "type" : "array",
              "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
              "items" : {
                "type" : "object",
                "properties" : {
                  "override" : {
                    "type" : "string",
                    "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
                  }
                }
              }
            },
            "arrangementId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account"
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
            },
            "masterArrangementId" : {
              "type" : "string",
              "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created."
            },
            "subArrangementName" : {
              "type" : "string",
              "description" : "The name of the sub arrangement that is displayed."
            },
            "currencyId" : {
              "type" : "string",
              "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
            },
            "effectiveDate" : {
              "type" : "string",
              "format" : "date",
              "description" : "The date on which the principal movement is effected"
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE"
            },
            "transactionAmount" : {
              "type" : "number",
              "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency"
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string",
                  "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "customer" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "parseTime" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "customers" : {
                      "type" : "array",
                      "description" : "The customer number",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "customer" : {
                            "type" : "string",
                            "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
                          },
                          "customerRole" : {
                            "type" : "string",
                            "description" : "Indicates role of a customer for an arrangement."
                          },
                          "taxLiabilityPercentage" : {
                            "type" : "number",
                            "description" : "Tax liability percentage of the customer"
                          },
                          "limitAllocactionPercentage" : {
                            "type" : "number",
                            "description" : "Indicates percentage of limit allocated to the customer out of overall limit"
                          },
                          "GLAllocactionPercentage" : {
                            "type" : "number",
                            "description" : "Indicates GL allocation percentage of the customer"
                          }
                        }
                      }
                    },
                    "jointLiability" : {
                      "type" : "string",
                      "description" : "Identifies if there is a joint liability on the limit record Allowed values: -YES -NO  "
                    }
                  }
                }
              }
            },
            "tcpermissions" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "parseTime" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "definedCustomers" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "definedCustomer" : {
                            "type" : "string",
                            "description" : "Allowed customers for the selected arrangement; where in they can see their product in Internet Banking"
                          },
                          "definedCustomerSel" : {
                            "type" : "boolean",
                            "description" : "Available accounts for the allowed customer will be displayed if this field is set as Yes .If set as No, accounts will not be available"
                          },
                          "definedCompanies" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "definedCompany" : {
                                  "type" : "string",
                                  "description" : "Allowed company for the defined customer"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "defPrdGroups" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "definedProductGroups" : {
                            "type" : "string",
                            "description" : "Product groups that can be accessed by external users via a specific Online Services product"
                          },
                          "definedProductGroupSel" : {
                            "type" : "string",
                            "description" : "Level of permission defined for the product group"
                          }
                        }
                      }
                    },
                    "relCustomers" : {
                      "type" : "array",
                      "description" : "The product for which the pricing plan is applicable",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "relationCustomer" : {
                            "type" : "string",
                            "description" : "Customers linked or related to the arrangement owner"
                          },
                          "productGroups" : {
                            "type" : "string",
                            "description" : "The group, as defined by the institution, that the product belongs to."
                          },
                          "productGroupSel" : {
                            "type" : "string",
                            "description" : "Level of permission applicable for the associated Product groups; Possible values: Exclude, See, Transact"
                          },
                          "products" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "product" : {
                                  "type" : "string",
                                  "description" : "Indicates an id or name of a product"
                                },
                                "productSel" : {
                                  "type" : "string",
                                  "description" : "Level of permission applicable for the associated Products; Possible values: Exclude, See, Transact"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "masterLevelChange" : {
                      "type" : "string",
                      "description" : "Marker to identify whether changes made at Master Arrangement level"
                    }
                  }
                }
              }
            },
            "tcprivileges" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "parseTime" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "services" : {
                      "type" : "array",
                      "description" : "Identifies the required operation to be executed for a Trade Finance contract. Input of valid codes as: O for opening of LC, P for Pre-advise of LC, A for Amend LC, C for Collect Charges, D for Decision on Amendments, T for Tracer, IO for LC through Internet Banking Operation and M for Ancillary Message (MT759)",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "serviceId" : {
                            "type" : "string",
                            "description" : "Contains the identifier name of the service that has to be executed."
                          },
                          "serviceActive" : {
                            "type" : "boolean",
                            "description" : "Indicate whether service is active or not."
                          },
                          "operations" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "operationId" : {
                                  "type" : "string",
                                  "description" : "ID of the operation which Identifies the required operation to be executed for a Trade Finance contract."
                                },
                                "operationActive" : {
                                  "type" : "boolean",
                                  "description" : "Indiciate whether operation is active or not"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "masterLevelChange" : {
                      "type" : "string",
                      "description" : "Marker to identify whether changes made at Master Arrangement level"
                    }
                  }
                }
              }
            },
            "tcavailability" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "parseTime" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "day" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "dayName" : {
                            "type" : "string",
                            "description" : "Day name of the week"
                          },
                          "daySelect" : {
                            "type" : "boolean",
                            "description" : "Allowed days to access Internet Banking"
                          },
                          "time" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "startTime" : {
                                  "type" : "string",
                                  "description" : "Contains the time job was started"
                                },
                                "endTime" : {
                                  "type" : "string",
                                  "description" : "Contains the time the job  ended."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "masterLevelChange" : {
                      "type" : "string",
                      "description" : "Marker to identify whether changes made at Master Arrangement level"
                    }
                  }
                }
              }
            },
            "dailylimits" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "parseTime" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "system" : {
                      "type" : "array",
                      "description" : "",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "systemId" : {
                            "type" : "string",
                            "description" : "The system application identifier from which the entry was generated"
                          },
                          "application" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "applicationId" : {
                                  "type" : "string",
                                  "description" : "Contains the application id of the service that has crashed due to error."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "transaction" : {
                      "type" : "array",
                      "description" : "",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "type" : {
                            "type" : "string",
                            "description" : "The product condition has an activity type associated that drives an action."
                          }
                        }
                      }
                    },
                    "currency" : {
                      "type" : "array",
                      "description" : "Identifies the underlying currency used for the transaction.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "allowedCurrency" : {
                            "type" : "string",
                            "description" : "Available currencies for the product"
                          }
                        }
                      }
                    },
                    "riskRate" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "benRiskRate" : {
                            "type" : "string",
                            "description" : "List of Beneficiary risk rate that the protection limit applies to"
                          }
                        }
                      }
                    },
                    "timeOfDay" : {
                      "type" : "string",
                      "description" : "Time of Day"
                    },
                    "currencyId" : {
                      "type" : "string",
                      "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
                    },
                    "limitAmount" : {
                      "type" : "number",
                      "description" : "The Limit amount that is actually available for use. The system limit checks are preformed against the online limit"
                    }
                  }
                }
              }
            },
            "tclicensing" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "parseTime" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "noOfUsers" : {
                      "type" : "string",
                      "description" : "The maximum number of users that can be linked to a master arrangement or its roles"
                    },
                    "noOfRoles" : {
                      "type" : "string",
                      "description" : "The maximum number of roles that can be linked to the master arrangement"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "OnlineService1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/OnlineService1Body"
        }
      },
      "description" : "OnlineService1"
    },
    "OnlineService1Body" : {
      "type" : "object",
      "properties" : {
        "customerIds" : {
          "type" : "array",
          "description" : "The identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer"
              }
            }
          }
        },
        "properties" : {
          "type" : "array",
          "description" : "Input is the� valid field name for the metrics evaluation of alerts",
          "items" : {
            "type" : "object",
            "properties" : {
              "propertyId" : {
                "type" : "string",
                "description" : "The identifier of the product condition"
              },
              "fields" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "fieldName" : {
                      "type" : "string",
                      "description" : "The name of the field"
                    },
                    "fieldValue" : {
                      "type" : "string",
                      "description" : "Value of the field"
                    }
                  }
                }
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account."
        },
        "masterArrangementId" : {
          "type" : "string",
          "description" : "The unique identifier to specify an arrangement reference which is act as a Master for the arrangement being created."
        },
        "subArrangementName" : {
          "type" : "string",
          "description" : "The name of the sub arrangement that is displayed."
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date",
[...]
