{
  "swagger" : "2.0",
  "info" : {
    "description" : "Issuing Usance LCs",
    "version" : "v1.0.0",
    "title" : "createIssuanceOfUsanceLC"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/letterOfCredits/usances" : {
      "post" : {
        "description" : "Creating an issuance of Usance LC for a customer",
        "operationId" : "createIssuanceOfUsanceLC",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/createIssuanceOfUsanceLC"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createIssuanceOfUsanceLCResponse",
            "schema" : {
              "$ref" : "#/definitions/createIssuanceOfUsanceLCResponse"
            }
          },
          "default" : {
            "description" : "createIssuanceOfUsanceLCErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/createIssuanceOfUsanceLCErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "createIssuanceOfUsanceLC" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/createIssuanceOfUsanceLCBody"
        }
      },
      "description" : "createIssuanceOfUsanceLC",
      "example" : {
        "header" : { },
        "body" : {
          "amount" : 100000,
          "confirmationInstruction" : "CONFIRM",
          "requestedConfirmBank" : "129031",
          "applicableRuleCodes" : "URR LATEST VERSION",
          "importUsanceLCType" : "ISC",
          "chargeDefaultAccount" : "75132",
          "applicant" : "100100",
          "expiryDate" : "20200220",
          "charges" : [ {
            "partyCharged" : "O",
            "amortiseCharges" : "NO",
            "chargeDebitAccount" : "75132",
            "chargeCode" : "LCOPENAMRT"
          } ],
          "beneficiaryCustomerId" : "100160",
          "waiveCharge" : "NO",
          "availableWithBanks" : [ {
            "availableWithBank" : "ANY"
          } ],
          "advisingBankId" : "100460",
          "currency" : "USD",
          "expiryPlace" : "US",
          "reimbursingBanks.1" : [ {
            "reimbursingbank1" : "ANY"
          } ],
          "chargeFrom" : "O"
        }
      }
    },
    "createIssuanceOfUsanceLCBody" : {
      "type" : "object",
      "properties" : {
        "applicantAddresses" : {
          "type" : "array",
          "description" : "Indicates the name and address of the applicant of the LC.",
          "items" : {
            "type" : "object",
            "properties" : {
              "applicantAddress" : {
                "type" : "string",
                "description" : "Indicates the name and address of the applicant of the Letter of Credit"
              }
            }
          }
        },
        "limitReferences" : {
          "type" : "array",
          "description" : "Identifies the type of limit applicable to the Account",
          "items" : {
            "type" : "object",
            "properties" : {
              "limitReference" : {
                "type" : "string",
                "description" : "Identifies the credit limit reference for the underlying account."
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "advisingBankAddresses" : {
          "type" : "array",
          "description" : "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advisng bank or beneficiary.",
          "items" : {
            "type" : "object",
            "properties" : {
              "advisingBankAddress" : {
                "type" : "string",
                "description" : "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary."
              }
            }
          }
        },
        "adviseThroughBanks" : {
          "type" : "array",
          "description" : "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
          "items" : {
            "type" : "object",
            "properties" : {
              "adviseThroughBank" : {
                "type" : "string",
                "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary."
              }
            }
          }
        },
        "availableWithBanks" : {
          "type" : "array",
          "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items" : {
            "type" : "object",
            "properties" : {
              "availableWithBank" : {
                "type" : "string",
                "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
              }
            }
          }
        },
        "reimbursingBanks1" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "reimbursingBank1" : {
                "type" : "string",
                "description" : "Identifies the Name & Address of the reimbursing bank under the LC. If the third party reimbursing bank is not one of the banks customers (i.e. not on the customer list), then this field allows the input of a name and address of the reimbursing bank."
              }
            }
          }
        },
        "requestedConfirmBankNames" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "requestedConfirmBankName" : {
                "type" : "string",
                "description" : "Name and address of the requested confirming bank, i.e. the bank which may or which is requested by the issuing bank to add its confirmation to the documentary credit."
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive)."
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party)."
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to."
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different."
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "amortiseCharges" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input"
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. "
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc."
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "importUsanceLCType" : {
          "type" : "string",
          "description" : "Identifies the Import Usance type of LC"
        },
        "lcNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID"
        },
        "applicant" : {
          "type" : "string",
          "description" : "Indicates the applicant name and address on whose behalf the Letter of Credit is being pre advised."
        },
        "currency" : {
          "type" : "string",
          "description" : "Contains all details of each individual currency, for example, currency name, number of decimal places together with other information such as the buy and sell rates"
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount"
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field."
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount."
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "expiryPlace" : {
          "type" : "string",
          "description" : "Expiry place for presentation under the documentary credit."
        },
        "daysAndPeriodForPresentation" : {
          "type" : "string",
          "description" : "Specifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. "
        },
        "shipmentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC"
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "incoTerms" : {
          "type" : "string",
          "description" : "This field holds the valid incoterms code"
        },
        "modeOfShipment" : {
          "type" : "string",
          "description" : "Defining the mode of shipment allowed for transporting the goods and service under the LC. Allowed values are: - Air - Sea - Road - Rail - Multi Modal - Other"
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)"
        },
        "collMatCode" : {
          "type" : "string",
          "description" : "In support of Option K of Tag 32a in MT400 series of SWIFT for collections, this field supports the applicable codes."
        },
        "days" : {
          "type" : "string",
          "description" : "Valid for Documentary Collections and used in conjunction with the field TENOR to indicate the tenor of the drafts under the collection. It is used in the production of corresponding documentary collection messages and to support Option K of Tag 32a of SWIFT MT400, accepts D or M followed by number representing number of Days or number of Months."
        },
        "applicableRuleCodesMT740" : {
          "type" : "string",
          "description" : "Indicates the reimbursement rules that the Letter of Credit contract is subject to. Allowed values: - URR LATEST VERSION - NOTURR - null (default)"
        },
        "confirmationInstruction" : {
          "type" : "string",
          "description" : "This field contains confirmation instructions for the receiver of the SWIFT MT700 / MT710 "
        },
        "beneficiaryCustomerId" : {
          "type" : "string",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank."
        },
        "advisingBankId" : {
          "type" : "string",
          "description" : "Identifies the advising bank ID under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary"
        },
        "adviseThroughBank" : {
          "type" : "string",
          "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary."
        },
        "availableWithBankId" : {
          "type" : "string",
          "description" : "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "reimbursingBank" : {
          "type" : "string",
          "description" : "Identifies the reimbursing bank ID under the LC, through whom reimbursement will be made to the paying/negotiating bank for a letter of credit. (Reimbursing bank should be a valid customer with customer ID)"
        },
        "requestedConfirmBank" : {
          "type" : "string",
          "description" : "Id of the requested confirming bank, i.e. the bank which may or which is requested by the issuing bank to add its confirmation to the documentary credit."
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)"
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge"
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction"
        },
        "marginRequired" : {
          "type" : "string",
          "description" : "Decision field enabling a cash margin to be blocked for the LC contract. Yes or No, default is No"
        },
        "releaseProvision" : {
          "type" : "string",
          "description" : "Flag to enable the online release of the cash margin. Allowed values: - YES - null (default)"
        },
        "marginCalculationBase" : {
          "type" : "string",
          "description" : "This field determines if the margin to be calculated based on the LC base amount or the total liability amount including tolerance etc."
        },
        "marginPercent" : {
          "type" : "string",
          "description" : "Field to state the percentage of provision to be taken"
        },
        "marginDebitAccount" : {
          "type" : "string",
          "description" : "Field to state the account from which the provision amount is to be debited"
        },
        "marginAmount" : {
          "type" : "number",
          "description" : "Actual amount of provision that is debited for the transaction"
        },
        "marginExchangeRate" : {
          "type" : "string",
          "description" : "This Field determines the exchange rate to be used between the provision debit account and the provision credit account, when the currencies differ"
        },
        "limitWithProvision" : {
          "type" : "string",
          "description" : "This field determines if the margin calculated to be debited after considering the limits booked under the LC contract. Yes or No"
        },
        "documentId" : {
          "type" : "string",
          "description" : "Based on documentCode, the field defaults the required document codes"
        },
        "documentCode" : {
          "type" : "string",
          "description" : "Required documents under a Letter of Credit"
        },
        "documentsText" : {
          "type" : "string",
          "description" : "Free text field to amend or generate additional documentation"
        },
        "documentRequired" : {
          "type" : "string",
          "description" : "Free textfield used to describe the documents to be presented under the letter of credit, in addition to the predefined documents associated with documentCode."
        },
        "additionalCondition" : {
          "type" : "string",
          "description" : "Amendment details to the additional conditions under a LC contract. Must begin with the valid codes: ADD or DELETE or REPALL."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "createIssuanceOfUsanceLCResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/createIssuanceOfUsanceLCResponseBody"
        }
      },
      "description" : "createIssuanceOfUsanceLCResponse"
    },
    "createIssuanceOfUsanceLCResponseBody" : {
      "type" : "object",
      "properties" : {
        "applicantAddresses" : {
          "type" : "array",
          "description" : "Indicates the name and address of the applicant of the LC.",
          "items" : {
            "type" : "object",
            "properties" : {
              "applicantAddress" : {
                "type" : "string",
                "description" : "Indicates the name and address of the applicant of the Letter of Credit"
              }
            }
          }
        },
        "limitReferences" : {
          "type" : "array",
          "description" : "Identifies the type of limit applicable to the Account",
          "items" : {
            "type" : "object",
            "properties" : {
              "limitReference" : {
                "type" : "string",
                "description" : "Identifies the credit limit reference for the underlying account."
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "advisingBankAddresses" : {
          "type" : "array",
          "description" : "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advisng bank or beneficiary.",
          "items" : {
            "type" : "object",
            "properties" : {
              "advisingBankAddress" : {
                "type" : "string",
                "description" : "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary."
              }
            }
          }
        },
        "adviseThroughBanks" : {
          "type" : "array",
          "description" : "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
          "items" : {
            "type" : "object",
            "properties" : {
              "adviseThroughBank" : {
                "type" : "string",
                "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary."
              }
            }
          }
        },
        "availableWithBanks" : {
          "type" : "array",
          "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items" : {
            "type" : "object",
            "properties" : {
              "availableWithBank" : {
                "type" : "string",
                "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
              }
            }
          }
        },
        "reimbursingBanks1" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "reimbursingBank1" : {
                "type" : "string",
                "description" : "Identifies the Name & Address of the reimbursing bank under the LC. If the third party reimbursing bank is not one of the banks customers (i.e. not on the customer list), then this field allows the input of a name and address of the reimbursing bank."
              }
            }
          }
        },
        "requestedConfirmBankNames" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "requestedConfirmBankName" : {
                "type" : "string",
                "description" : "Name and address of the requested confirming bank, i.e. the bank which may or which is requested by the issuing bank to add its confirmation to the documentary credit."
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive)."
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party)."
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to."
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different."
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "amortiseCharges" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input"
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. "
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc."
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "importUsanceLCType" : {
          "type" : "string",
          "description" : "Identifies the Import Usance type of LC"
        },
        "lcNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID"
        },
        "applicant" : {
          "type" : "string",
          "description" : "Indicates the applicant name and address on whose behalf the Letter of Credit is being pre advised."
        },
        "currency" : {
          "type" : "string",
          "description" : "Contains all details of each individual currency, for example, currency name, number of decimal places together with other information such as the buy and sell rates"
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount"
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field."
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount."
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "expiryPlace" : {
          "type" : "string",
          "description" : "Expiry place for presentation under the documentary credit."
        },
        "daysAndPeriodForPresentation" : {
          "type" : "string",
          "description" : "Specifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. "
        },
        "shipmentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC"
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "incoTerms" : {
          "type" : "string",
          "description" : "This field holds the valid incoterms code"
        },
        "modeOfShipment" : {
          "type" : "string",
          "description" : "Defining the mode of shipment allowed for transporting the goods and service under the LC. Allowed values are: - Air - Sea - Road - Rail - Multi Modal - Other"
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)"
        },
        "collMatCode" : {
          "type" : "string",
          "description" : "In support of Option K of Tag 32a in MT400 series of SWIFT for collections, this field supports the applicable codes."
        },
        "days" : {
          "type" : "string",
          "description" : "Valid for Documentary Collections and used in conjunction with the field TENOR to indicate the tenor of the drafts under the collection. It is used in the production of corresponding documentary collection messages and to support Option K of Tag 32a of SWIFT MT400, accepts D or M followed by number representing number of Days or number of Months."
        },
        "applicableRuleCodesMT740" : {
          "type" : "string",
          "description" : "Indicates the reimbursement rules that the Letter of Credit contract is subject to. Allowed values: - URR LATEST VERSION - NOTURR - null (default)"
        },
        "confirmationInstruction" : {
          "type" : "string",
          "description" : "This field contains confirmation instructions for the receiver of the SWIFT MT700 / MT710 "
        },
        "beneficiaryCustomerId" : {
          "type" : "string",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank."
        },
        "advisingBankId" : {
          "type" : "string",
          "description" : "Identifies the advising bank ID under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary"
        },
        "adviseThroughBank" : {
          "type" : "string",
          "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary."
        },
        "availableWithBankId" : {
          "type" : "string",
          "description" : "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "reimbursingBank" : {
          "type" : "string",
          "description" : "Identifies the reimbursing bank ID under the LC, through whom reimbursement will be made to the paying/negotiating bank for a letter of credit. (Reimbursing bank should be a valid customer with customer ID)"
        },
        "requestedConfirmBank" : {
          "type" : "string",
          "description" : "Id of the requested confirming bank, i.e. the bank which may or which is requested by the issuing bank to add its confirmation to the documentary credit."
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)"
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge"
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction"
        },
        "marginRequired" : {
          "type" : "string",
          "description" : "Decision field enabling a cash margin to be blocked for the LC contract. Yes or No, default is No"
        },
        "releaseProvision" : {
          "type" : "string",
          "description" : "Flag to enable the online release of the cash margin. Allowed values: - YES - null (default)"
        },
        "marginCalculationBase" : {
          "type" : "string",
          "description" : "This field determines if the margin to be calculated based on the LC base amount or the total liability amount including tolerance etc."
        },
        "marginPercent" : {
          "type" : "string",
          "description" : "Field to state the percentage of provision to be taken"
        },
        "marginDebitAccount" : {
          "type" : "string",
          "description" : "Field to state the account from which the provision amount is to be debited"
        },
        "marginAmount" : {
          "type" : "number",
          "description" : "Actual amount of provision that is debited for the transaction"
        },
        "marginExchangeRate" : {
          "type" : "string",
          "description" : "This Field determines the exchange rate to be used between the provision debit account and the provision credit account, when the currencies differ"
        },
        "limitWithProvision" : {
          "type" : "string",
          "description" : "This field determines if the margin calculated to be debited after considering the limits booked under the LC contract. Yes or No"
        },
        "documentId" : {
          "type" : "string",
          "description" : "Based on documentCode, the field defaults the required document codes"
        },
        "documentCode" : {
          "type" : "string",
          "description" : "Required documents under a Letter of Credit"
        },
        "documentsText" : {
          "type" : "string",
          "description" : "Free text field to amend or generate additional documentation"
        },
        "documentRequired" : {
          "type" : "string",
          "description" : "Free textfield used to describe the documents to be presented under the letter of credit, in addition to the predefined documents associated with documentCode."
        },
        "additionalCondition" : {
          "type" : "string",
          "description" : "Amendment details to the additional conditions under a LC contract. Must begin with the valid codes: ADD or DELETE or REPALL."
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "createIssuanceOfUsanceLCErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/createIssuanceOfUsanceLCErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "createIssuanceOfUsanceLCErrorResponse"
    },
    "createIssuanceOfUsanceLCErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}