{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves the list of arrangement accounts associated with a customer",
    "version" : "v1.0.0",
    "title" : "Retrieves the list of arrangement accounts associated with a customer"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/customers/{customerId}/loans" : {
      "get" : {
        "summary" : "Retrieves the List of Loans associated with a customer",
        "description" : "Retrieves the List of Loans associated with a customer",
        "operationId" : "getCustomerLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string",
          "x-example" : "100336"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerLoansResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerLoansResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/customers/loans" : {
      "get" : {
        "summary" : "Retrieves the Loan Details of an account",
        "description" : "Retrieves the Loan Details of an account",
        "operationId" : "getLoans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "LoansResponse",
            "schema" : {
              "$ref" : "#/definitions/LoansResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/customers/{customerId}/deposits" : {
      "get" : {
        "summary" : "Retrieves the List of Deposit account for a given customer",
        "description" : "Retrieves the List of Deposit account for a given customer",
        "operationId" : "getCustomerDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string",
          "x-example" : "100336"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerDepositsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/customers/deposits" : {
      "get" : {
        "summary" : "Retrieves the deposit details for a given account or a customer",
        "description" : "Retrieves the deposit details for a given account or a customer",
        "operationId" : "getDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/customerArrangements/{customerId}" : {
      "get" : {
        "summary" : "Retrieves the list of Arrangement Ids for a given Customer",
        "description" : "Retrieves the list of Arrangement Ids for a given Customer",
        "operationId" : "getCustomerArrangementDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerArrangementDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerArrangementDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/externalProducts/{customerId}/externalAccounts" : {
      "get" : {
        "summary" : "Retrieves the List of available external accounts for a given customer",
        "description" : "Retrieves the List of available external accounts for a given customer",
        "operationId" : "getCustomerExternal",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string",
          "x-example" : "100336"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerExternalResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerExternalResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/externalProducts/{customerId}/closedAccounts" : {
      "get" : {
        "summary" : "Retrieves the List of closed external accounts for a given customer",
        "description" : "Retrieves the List of closed external accounts for a given customer",
        "operationId" : "getCustomerClosedExternal",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string",
          "x-example" : "100337"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productLine",
          "in" : "query",
          "description" : "Indicates a Financial Line, Eg: Loans,Deposits,Accounts etc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productGroup",
          "in" : "query",
          "description" : "Indicates a group under which the products exists",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "product",
          "in" : "query",
          "description" : "Indicates an id or name of a product",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "Contains all details of each individual currency, for example, currency name, number of decimal places together with other information such as the buy and sell rates",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerClosedExternalResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerClosedExternalResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CustomerLoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerLoansResponseBody"
        }
      },
      "description" : "CustomerLoansResponse"
    },
    "CustomerLoansResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "loanAccountId" : {
            "type" : "string",
            "description" : "The identifier of the loan account",
            "maxLength" : 35
          },
          "loanProduct" : {
            "type" : "string",
            "description" : "The loan account product",
            "maxLength" : 30
          },
          "loanCurrency" : {
            "type" : "string",
            "description" : "Indicates the currency of the loan",
            "maxLength" : 3
          },
          "loanAmount" : {
            "type" : "number",
            "description" : "Indicates loan amount"
          },
          "loanBalance" : {
            "type" : "number",
            "description" : "Indicates the outstanding balance of the loan"
          },
          "loanInterestRate" : {
            "type" : "string",
            "description" : "Indicates the interest rate of the loan"
          },
          "loanInterestType" : {
            "type" : "string",
            "description" : "Indicates the interest rate type - Eg. Fixed, floating, periodic"
          },
          "loanStartDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the loan commencement date"
          },
          "loanNextPayDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the next payment date for the loan"
          },
          "loanEndDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the loan maturity date"
          },
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition.",
            "maxLength" : 30
          },
          "customerShortName" : {
            "type" : "string",
            "description" : "Indicates the short name of Customer",
            "maxLength" : 10
          },
          "roleDisplayName" : {
            "type" : "string",
            "description" : "Indicates the type of role of a customer"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string",
          "description" : "for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string",
          "description" : "caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "LoansResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LoansResponseBody"
        }
      },
      "description" : "LoansResponse"
    },
    "LoansResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account",
            "maxLength" : 17
          },
          "loanAccountId" : {
            "type" : "string",
            "description" : "The identifier of the loan account",
            "maxLength" : 35
          },
          "loanProduct" : {
            "type" : "string",
            "description" : "The loan account product",
            "maxLength" : 30
          },
          "loanCurrency" : {
            "type" : "string",
            "description" : "Indicates the currency of the loan",
            "maxLength" : 3
          },
          "loanAmount" : {
            "type" : "number",
            "description" : "Indicates loan amount"
          },
          "loanBalance" : {
            "type" : "number",
            "description" : "Indicates the outstanding balance of the loan"
          },
          "loanInterestRate" : {
            "type" : "string",
            "description" : "Indicates the interest rate of the loan"
          },
          "loanInterestType" : {
            "type" : "string",
            "description" : "Indicates the interest rate type - Eg. Fixed, floating, periodic"
          },
          "loanStartDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the loan commencement date"
          },
          "loanNextPayDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the next payment date for the loan"
          },
          "loanEndDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the loan maturity date"
          },
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition.",
            "maxLength" : 30
          },
          "customerShortName" : {
            "type" : "string",
            "description" : "Indicates the short name of Customer",
            "maxLength" : 10
          },
          "roleDisplayName" : {
            "type" : "string",
            "description" : "Indicates the type of role of a customer"
          }
        }
      }
    },
    "CustomerDepositsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerDepositsResponseBody"
        }
      },
      "description" : "CustomerDepositsResponse"
    },
    "CustomerDepositsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "depInterestRates" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "depInterestRate" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "depAccountId" : {
            "type" : "string",
            "description" : "The identifier of the deposit account",
            "maxLength" : 35
          },
          "depProduct" : {
            "type" : "string",
            "description" : "The deposit account product ",
            "maxLength" : 30
          },
          "depCurrency" : {
            "type" : "string",
            "description" : "Currency of the deposit account, 3-letter ISO 4217 code.",
            "maxLength" : 3
          },
          "depAmount" : {
            "type" : "string",
            "description" : "Indicates the total deposit amount"
          },
          "depInterestType" : {
            "type" : "string",
            "description" : "The type of interest - fixed, floating, periodic"
          },
          "depStartDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The start date for the deposit account"
          },
          "depEndDate" : {
            "type" : "string",
            "description" : "The maturity date of the deposit agreement."
          },
          "depBalance" : {
            "type" : "string",
            "description" : "Indicates the current outstanding balance"
          },
          "depNextPayDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the next payment date for the deposit"
          }
        }
      }
    },
    "DepositsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DepositsResponseBody"
        }
      },
      "description" : "DepositsResponse"
    },
    "DepositsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "depInterestRates" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "depInterestRate" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "depAccountId" : {
            "type" : "string",
            "description" : "The identifier of the deposit account",
            "maxLength" : 35
          },
          "depProduct" : {
            "type" : "string",
            "description" : "The deposit account product ",
            "maxLength" : 30
          },
          "depCurrency" : {
            "type" : "string",
            "description" : "Currency of the deposit account, 3-letter ISO 4217 code.",
            "maxLength" : 3
          },
          "depAmount" : {
            "type" : "string",
            "description" : "Indicates the total deposit amount"
          },
          "depInterestType" : {
            "type" : "string",
            "description" : "The type of interest - fixed, floating, periodic"
          },
          "depStartDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The start date for the deposit account"
          },
          "depEndDate" : {
            "type" : "string",
            "description" : "The maturity date of the deposit agreement."
          },
          "depBalance" : {
            "type" : "string",
            "description" : "Indicates the current outstanding balance"
          },
          "depNextPayDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the next payment date for the deposit"
          },
          "depProductDescription" : {
            "type" : "string"
          }
        }
      }
    },
    "CustomerArrangementDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerArrangementDetailsResponseBody"
        }
      },
      "description" : "CustomerArrangementDetailsResponse"
    },
    "CustomerArrangementDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productLines" : {
            "type" : "array",
            "description" : "The identifier of the product group",
            "items" : {
              "type" : "object",
              "properties" : {
                "productLine" : {
                  "type" : "string",
                  "description" : "Indicates a Financial Line, Eg: Loans,Deposits,Accounts etc.",
                  "maxLength" : 35
                },
                "productGroupIds" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "productGroupId" : {
                        "type" : "string",
                        "description" : "The group, as defined by the institution, that the product belongs to.",
                        "maxLength" : 30
                      },
                      "arrangementId" : {
                        "type" : "string",
                        "description" : "Indicates an unique identifier of an account",
                        "maxLength" : 30
                      },
                      "customerRole" : {
                        "type" : "string",
                        "description" : "Indicates role of a customer for an arrangement.",
                        "maxLength" : 30
                      }
                    }
                  }
                }
              }
            }
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 17
          }
        }
      }
    },
    "CustomerExternalResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerExternalResponseBody"
        }
      },
      "description" : "CustomerExternalResponse"
    },
    "CustomerExternalResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account",
            "maxLength" : 17
          },
          "customer" : {
            "type" : "string",
            "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
          },
          "customerShortName" : {
            "type" : "string",
            "description" : "Indicates the short name of Customer",
            "maxLength" : 35
          },
          "customerRole" : {
            "type" : "string",
            "description" : "Indicates role of a customer for an arrangement.",
            "maxLength" : 30
          },
          "productLine" : {
            "type" : "string",
            "description" : "Indicates a Financial Line, Eg: Loans,Deposits,Accounts etc.",
            "maxLength" : 10
          },
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition.",
            "maxLength" : 30
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          }
        }
      }
    },
    "CustomerClosedExternalResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerClosedExternalResponseBody"
        }
      },
      "description" : "CustomerClosedExternalResponse"
    },
    "CustomerClosedExternalResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account",
            "maxLength" : 17
          },
          "customer" : {
            "type" : "string",
            "description" : "Contains the customer identifier to fetch list of consent arrangements for the customer or customer identifier of the debtor account. This will be populated once the SCA(Strong Customer Authentication) is completed."
          },
          "customerShortName" : {
            "type" : "string",
            "description" : "Indicates the short name of Customer",
            "maxLength" : 35
          },
          "customerRole" : {
            "type" : "string",
            "description" : "Indicates role of a customer for an arrangement.",
            "maxLength" : 30
          },
          "productLine" : {
            "type" : "string",
            "description" : "Indicates a Financial Line, Eg: Loans,Deposits,Accounts etc.",
            "maxLength" : 10
          },
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition.",
            "maxLength" : 30
          },
          "productDescription" : {
            "type" : "string",
            "description" : "Indicates the description of the Product"
          },
          "productCode" : {
            "type" : "string",
            "description" : "Indicate a code under which a product belongs"
          }
        }
      }
    }
  }
}