{
  "swagger" : "2.0",
  "info" : {
    "description" : "Amendments seeking beneficiary's consent",
    "version" : "v1.0.0",
    "title" : "updateLCBeneficiaryConsent"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/letterOfCredits/{letterOfCreditId}/beneficiaryConsents" : {
      "put" : {
        "description" : "Amendment of a Letter of Credit with Beneficiary's consent",
        "operationId" : "updateLCBeneficiaryConsent",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "letterOfCreditId",
          "in" : "path",
          "description" : "Identifier of the Letter Of Credit",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/updateLCBeneficiaryConsent"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateLCBeneficiaryConsentResponse",
            "schema" : {
              "$ref" : "#/definitions/updateLCBeneficiaryConsentResponse"
            }
          },
          "default" : {
            "description" : "updateLCBeneficiaryConsentErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/updateLCBeneficiaryConsentErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "updateLCBeneficiaryConsent" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/updateLCBeneficiaryConsentBody"
        }
      },
      "description" : "updateLCBeneficiaryConsent",
      "example" : "{\n  \"header\": {},\n  \"body\": {\n    \"advisingBankReference\": \"REFER2\",\n    \"newExpiryPlace\": \"CHENN\"\n  }\n}"
    },
    "updateLCBeneficiaryConsentBody" : {
      "type" : "object",
      "properties" : {
        "advisingBankIds" : {
          "type" : "array",
          "description" : "It’s a system populated field which default the advising bank ID, name and address from the LC contract.",
          "items" : {
            "type" : "object",
            "properties" : {
              "advisingBankId" : {
                "type" : "string",
                "description" : "Identifies the advising bank ID under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary"
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "documentsRequired" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "documentRequired" : {
                "type" : "string",
                "description" : "Free textfield used to describe the documents to be presented under the letter of credit, in addition to the predefined documents associated with documentCode."
              }
            }
          }
        },
        "additionalConditions" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalCondition" : {
                "type" : "string",
                "description" : "Amendment details to the additional conditions under a LC contract. Must begin with the valid codes: ADD or DELETE or REPALL."
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive)."
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party)."
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to."
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted"
              },
              "chargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different."
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. "
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "lcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit."
        },
        "lcAmount" : {
          "type" : "number",
          "description" : "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "lcLiabilityAmountOutStanding" : {
          "type" : "string",
          "description" : "This is a system populated field that indicates the total liability amount in respect of each issued or confirmed letters of credit."
        },
        "pendingAmendMovement" : {
          "type" : "string",
          "description" : "This is a system populated field indicating the total amount of all the pending Amendments pertaining the Letter of Credit."
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount."
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field."
        },
        "advisingBankReference" : {
          "type" : "string",
          "description" : "Advising Bank reference number for use on messages and advices under the LC contract"
        },
        "increaseOrDecreaseAmount" : {
          "type" : "number",
          "description" : "This field indicates the Revised increased/decreased amount in LC."
        },
        "newDebitTolerance" : {
          "type" : "number",
          "description" : "This field specified  the new amended negative tolerance percentage under the Letter of Credit , to calculate the minimum amount that can be presented under the Letter of Credit."
        },
        "newCreditTolerance" : {
          "type" : "string",
          "description" : "This field defines the new tolerance percentage to be added to the LC amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "newExpiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the new expiry date."
        },
        "newLiabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "New Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "newExpiryPlace" : {
          "type" : "string",
          "description" : "New Expiry place for presentation under the documentary credit."
        },
        "cancellationRequest" : {
          "type" : "string",
          "description" : "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL."
        },
        "additionalAmountCovered" : {
          "type" : "string",
          "description" : "Specifies any additional amounts available under the Letter of Credit, such as insurance, freight, interest, etc."
        },
        "separateLimitUpdate" : {
          "type" : "string",
          "description" : "Indicates whether LIMIT has to be updated when the Amendment contract is authorized, prior to acceptance of the amendment from beneficiary. System maintained. Updated from LC.AMENDMENT application."
        },
        "placeOfTakingInCharge" : {
          "type" : "string",
          "description" : "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document"
        },
        "portOfLoading" : {
          "type" : "string",
          "description" : "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC."
        },
        "portOfDischarge" : {
          "type" : "string",
          "description" : "Indicates the port of discharge or the airport of destination of the shipment under the LC."
        },
        "finalDestination" : {
          "type" : "string",
          "description" : "Indicates the final destination or place of delivery of the shipment under the LC."
        },
        "shipmentPeriod" : {
          "type" : "string",
          "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge."
        },
        "latestShipmentDate" : {
          "type" : "string",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "sendReceiveInfo" : {
          "type" : "string",
          "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT707 message"
        },
        "descriptionOfGoods" : {
          "type" : "string"
        },
        "chargeBaseAmount" : {
          "type" : "string",
          "description" : "Indicates the portion of the Letter of Credit amount for which the charges are to be applied at the time of amendment instead of recalculation the charges for the full LC value. If left blank, LC.AMOUNT will be used for calculating default charges"
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "updateLCBeneficiaryConsentResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/updateLCBeneficiaryConsentResponseBody"
        }
      },
      "description" : "updateLCBeneficiaryConsentResponse"
    },
    "updateLCBeneficiaryConsentResponseBody" : {
      "type" : "object",
      "properties" : {
        "advisingBankIds" : {
          "type" : "array",
          "description" : "It’s a system populated field which default the advising bank ID, name and address from the LC contract.",
          "items" : {
            "type" : "object",
            "properties" : {
              "advisingBankId" : {
                "type" : "string",
                "description" : "Identifies the advising bank ID under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary"
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "documentsRequired" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "documentRequired" : {
                "type" : "string",
                "description" : "Free textfield used to describe the documents to be presented under the letter of credit, in addition to the predefined documents associated with documentCode."
              }
            }
          }
        },
        "additionalConditions" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "additionalCondition" : {
                "type" : "string",
                "description" : "Amendment details to the additional conditions under a LC contract. Must begin with the valid codes: ADD or DELETE or REPALL."
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive)."
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party)."
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to."
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted"
              },
              "chargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different."
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. "
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "lcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit."
        },
        "lcAmount" : {
          "type" : "number",
          "description" : "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "lcLiabilityAmountOutStanding" : {
          "type" : "string",
          "description" : "This is a system populated field that indicates the total liability amount in respect of each issued or confirmed letters of credit."
        },
        "pendingAmendMovement" : {
          "type" : "string",
          "description" : "This is a system populated field indicating the total amount of all the pending Amendments pertaining the Letter of Credit."
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount."
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field."
        },
        "purposeOfMessage" : {
          "type" : "string",
          "description" : "Indicates the purpose of MT707 amendment message, whether its the issuance of amendment message or advise of amendment message to the second advising bank or advise and confirmation of amendment message to the second advising bank. Permitted Codes are: ACNF - Advice and confirmation of the credit amendment ADVI - Advice of the credit amendment ISSU - Issuance of the credit amendment"
        },
        "advisingBankReference" : {
          "type" : "string",
          "description" : "Advising Bank reference number for use on messages and advices under the LC contract"
        },
        "increaseOrDecreaseAmount" : {
          "type" : "number",
          "description" : "This field indicates the Revised increased/decreased amount in LC."
        },
        "newDebitTolerance" : {
          "type" : "number",
          "description" : "This field specified  the new amended negative tolerance percentage under the Letter of Credit , to calculate the minimum amount that can be presented under the Letter of Credit."
        },
        "newCreditTolerance" : {
          "type" : "string",
          "description" : "This field defines the new tolerance percentage to be added to the LC amount to calculate the full liability amount or maximum amount that can be drawn."
        },
        "newExpiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the new expiry date."
        },
        "newLiabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "New Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "newExpiryPlace" : {
          "type" : "string",
          "description" : "New Expiry place for presentation under the documentary credit."
        },
        "cancellationRequest" : {
          "type" : "string",
          "description" : "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL."
        },
        "additionalAmountCovered" : {
          "type" : "string",
          "description" : "Specifies any additional amounts available under the Letter of Credit, such as insurance, freight, interest, etc."
        },
        "separateLimitUpdate" : {
          "type" : "string",
          "description" : "Indicates whether LIMIT has to be updated when the Amendment contract is authorized, prior to acceptance of the amendment from beneficiary. System maintained. Updated from LC.AMENDMENT application."
        },
        "placeOfTakingInCharge" : {
          "type" : "string",
          "description" : "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document"
        },
        "portOfLoading" : {
          "type" : "string",
          "description" : "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC."
        },
        "portOfDischarge" : {
          "type" : "string",
          "description" : "Indicates the port of discharge or the airport of destination of the shipment under the LC."
        },
        "finalDestination" : {
          "type" : "string",
          "description" : "Indicates the final destination or place of delivery of the shipment under the LC."
        },
        "shipmentPeriod" : {
          "type" : "string",
          "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge."
        },
        "latestShipmentDate" : {
          "type" : "string",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "sendReceiveInfo" : {
          "type" : "string",
          "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT707 message"
        },
        "descriptionOfGoods" : {
          "type" : "string"
        },
        "chargeBaseAmount" : {
          "type" : "string",
          "description" : "Indicates the portion of the Letter of Credit amount for which the charges are to be applied at the time of amendment instead of recalculation the charges for the full LC value. If left blank, LC.AMOUNT will be used for calculating default charges"
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "updateLCBeneficiaryConsentErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/updateLCBeneficiaryConsentErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "updateLCBeneficiaryConsentErrorResponse"
    },
    "updateLCBeneficiaryConsentErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}