{
  "swagger" : "2.0",
  "info" : {
    "description" : "Get and manage Holdings Deposits",
    "version" : "v1.0.0",
    "title" : "Holdings Deposits APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/deposits/{depositId}" : {
      "get" : {
        "operationId" : "getDepositDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "depositId",
          "in" : "path",
          "description" : "Indicates the Id of the deposit account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA1808094RB2"
        }, {
          "name" : "balanceTypes",
          "in" : "query",
          "description" : "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DepositDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/{depositId}/bills" : {
      "get" : {
        "operationId" : "getDepositBillDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "depositId",
          "in" : "path",
          "description" : "Indicates the Id of the deposit account",
          "required" : true,
          "type" : "string",
          "x-example" : "AA19107GZ1H10"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "description" : "Indicates the Reference ID for simulation activity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DepositBillDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositBillDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/{simulationCaptureReferenceId}/partialBills" : {
      "get" : {
        "operationId" : "getDepositPartialBills",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "simulationCaptureReferenceId",
          "in" : "path",
          "description" : "Indicates the Reference Id for the simulation activity",
          "required" : true,
          "type" : "string",
          "x-example" : "AASIMR190790BP4W4Y"
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "DepositPartialBillsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositPartialBillsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "DepositDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DepositDetailsResponseBody"
        }
      },
      "description" : "DepositDetailsResponse"
    },
    "DepositDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "chargeTypes" : {
            "type" : "array",
            "description" : "The type of charge",
            "items" : {
              "type" : "object",
              "properties" : {
                "chargeType" : {
                  "type" : "string",
                  "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG"
                }
              }
            }
          },
          "taxRates" : {
            "type" : "array",
            "description" : "The applicable rate of tax",
            "items" : {
              "type" : "object",
              "properties" : {
                "taxRate" : {
                  "type" : "string",
                  "description" : "Indicates tax charged to an account"
                }
              }
            }
          },
          "charges" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentFrequency" : {
                  "type" : "string",
                  "description" : "The frequency at which a payment is required to be generated"
                },
                "paymentTypeName" : {
                  "type" : "string",
                  "description" : "Indicates Payment type set to an account"
                },
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the Id of the product property"
                },
                "paymentMethod" : {
                  "type" : "string",
                  "description" : "Method chosen to make the payment"
                },
                "chargeSchedulePaymentValue" : {
                  "type" : "string",
                  "description" : "Indicates the payment frequency associated with the charge"
                }
              }
            }
          },
          "settlements" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "payinSettlement" : {
                  "type" : "string",
                  "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes."
                },
                "payinAccountId" : {
                  "type" : "string",
                  "description" : "Indicates the Payin Settlement Account. The account from which funds are to be debited against the payment type."
                },
                "payoutSettlement" : {
                  "type" : "string",
                  "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes."
                },
                "payoutAccountId" : {
                  "type" : "string",
                  "description" : "Indicates the Payout Settlement Account. The account into which funds are to be credited against the payment type."
                },
                "propertyId" : {
                  "type" : "string",
                  "description" : "The identifier of the product condition"
                },
                "propertyClassId" : {
                  "type" : "string",
                  "description" : "The identifier of a condition that is used to build a product"
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
          },
          "startDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Contains the date on which the transaction or payment gets initiated."
          },
          "maturityDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates maturity date of the contract"
          },
          "maturesIn" : {
            "type" : "string",
            "description" : "Indicates a date or period within which an account gets matured"
          },
          "coolingOffDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates cooling off period for an account until which pre-closure can be triggered without incurring any fees or charges."
          },
          "term" : {
            "type" : "string",
            "description" : "Indicates the term for which the contract is booked"
          },
          "termAmount" : {
            "type" : "number",
            "description" : "The monetary amount applied to the account"
          },
          "cancellationPeriod" : {
            "type" : "string",
            "description" : "Indicates the Period beyond which a contract is cancelled if it not fully funded in case of deposit or fully disbursed in case of the loan"
          },
          "earlyRedemptionFee" : {
            "type" : "number",
            "description" : "Indicates the early redemption fee that is associated during closure before account maturity"
          },
          "withdrawalFee" : {
            "type" : "string",
            "description" : "Indicates fee charged for the withdrawals"
          },
          "interestRate" : {
            "type" : "string",
            "description" : "Identifies the bid rate of the related currency for the defined time period"
          },
          "accrualAmount" : {
            "type" : "number",
            "description" : "Indicates interest accumulated for an account for the defined time period"
          },
          "accruedInterest" : {
            "type" : "number",
            "description" : "The amount of interest that has been accrued"
          },
          "paymentType" : {
            "type" : "string",
            "description" : "Indicates if the payment is Customer (C) type or Bank (B) type"
          },
          "maturityInDays" : {
            "type" : "string",
            "description" : "Indicates the number of days within which an contract gets matured"
          },
          "remainingMaturityInDays" : {
            "type" : "string",
            "description" : "Indicates number of days remaining for maturity"
          },
          "commitmentAmount" : {
            "type" : "number",
            "description" : "Indicates the total amount which will be lent or deposited for the term"
          },
          "expectedBalance" : {
            "type" : "number",
            "description" : "Indicates the amount expected to be deposited by the customer"
          },
          "allowWithdrawal" : {
            "type" : "string",
            "description" : "Flag to indicate whether withdrawals are applicable for the account"
          },
          "unspecifiedCredit" : {
            "type" : "number",
            "description" : "Indicates an unallocated credit amount to an account"
          },
          "allowDeposit" : {
            "type" : "string",
            "description" : "Flag to indicate whether deposit is allowed to an account"
          },
          "allowWithdrawalUnclearedCredit" : {
            "type" : "string",
            "description" : "Flag to indicate whether withdrawals are allowed to an unallocated fund available in the account"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "DepositBillDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DepositBillDetailsResponseBody"
        }
      },
      "description" : "DepositBillDetailsResponse"
    },
    "DepositBillDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the Id of the product property"
                },
                "nextPaymentAmount" : {
                  "type" : "number",
                  "description" : "Indicates the payment amount to be settled in the next schedule"
                }
              }
            }
          },
          "billId" : {
            "type" : "string",
            "description" : "Indicates the bill reference or Id",
            "maxLength" : 30
          },
          "totalAmount" : {
            "type" : "number",
            "description" : "Total amount"
          }
        }
      }
    },
    "DepositPartialBillsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/DepositPartialBillsResponseBody"
        }
      },
      "description" : "DepositPartialBillsResponse"
    },
    "DepositPartialBillsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the Id of the product property"
                },
                "chargeAmount" : {
                  "type" : "number",
                  "description" : "Retrieves the Charge Amount after redeem"
                }
              }
            }
          },
          "simulationId" : {
            "type" : "string",
            "description" : "Indicates the Id generated during the simulation of an activity",
            "maxLength" : 40
          }
        }
      }
    }
  }
}