{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieves balances, cards and transaction information on accounts ",
    "version" : "v1.0.0",
    "title" : "Order Payments APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/accounts" : {
      "get" : {
        "operationId" : "getAccounts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currencyId",
          "in" : "query",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limitReference",
          "in" : "query",
          "description" : "Identifies the credit limit reference for the underlying account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountsResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsAccountsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{accountId}/transactions" : {
      "get" : {
        "operationId" : "getAccountTransactions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string",
          "x-example" : "79707"
        }, {
          "name" : "bookingDate",
          "in" : "query",
          "description" : "Business date on which the accounting entry was generated.",
          "required" : false,
          "type" : "string",
          "x-example" : "20190417"
        }, {
          "name" : "processingDate",
          "in" : "query",
          "description" : "The date when payment instruction is processed in system.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "valueDate",
          "in" : "query",
          "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "description",
          "in" : "query",
          "description" : "Contains the description of purpose of the payment.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reversalMarker",
          "in" : "query",
          "description" : "Denotes the flag which is set whenever any credit or reversal debit entries with future exposure dates are processed",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "includeSubAcct",
          "in" : "query",
          "description" : "Denotes the flag which needs to be set in order to allow the automatic creation of sub-accounts and the automatic distribution of transactions over sub-accounts",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountTransactionsResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsAccountTransactionsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{accountId}/cards" : {
      "get" : {
        "operationId" : "getAccountCards",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string",
          "x-example" : "79707"
        }, {
          "name" : "cardIssueId",
          "in" : "query",
          "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "selIssueDate",
          "in" : "query",
          "description" : "Date on which a sale of a bond, insurance policy or stock offering is issued",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "selExpiryDate",
          "in" : "query",
          "description" : "Date on which a sale of a bond, insurance policy or stock offering is due to expire",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "selStatus",
          "in" : "query",
          "description" : "Contains the status for the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountCardsResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsAccountCardsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/balances" : {
      "get" : {
        "operationId" : "getAccountBalanceToday",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : false,
          "type" : "string",
          "x-example" : "79707"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currencyId",
          "in" : "query",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limitReferenceId",
          "in" : "query",
          "description" : "Limit reference identifier for the limit order.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountBalanceTodayResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsAccountBalanceTodayResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{accountId}" : {
      "get" : {
        "operationId" : "getAccountDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsAccountDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/accounts/{accountId}/alertEvents" : {
      "get" : {
        "operationId" : "getEligibleEvents",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string",
          "x-example" : "78654"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "EligibleEventsResponse",
            "schema" : {
              "$ref" : "#/definitions/holdingsEligibleEventsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "holdingsAccountsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/holdingsAccountsResponseBody"
        }
      },
      "description" : "holdingsAccountsResponse"
    },
    "holdingsAccountsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "productName" : {
            "type" : "string",
            "description" : "Product name of the bank for this account, proprietary definition."
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 16
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes",
            "maxLength" : 35
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "lockedAmount" : {
            "type" : "number",
            "description" : "Shows reserved amount for the underlying account for a given balance reservation event."
          },
          "workingBalance" : {
            "type" : "number",
            "description" : "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries."
          },
          "onlineActualBalance" : {
            "type" : "number",
            "description" : "Real-time balance including all authorised transactions posted against the account, excluding any entries with a future processing date."
          },
          "availableBalance" : {
            "type" : "number",
            "description" : "Available balance of the account which is the projected balance which includes the net movements of both debits and credits against the account."
          },
          "sortCode" : {
            "type" : "string",
            "description" : "Contains bank sort code or iban branch identifier for the account"
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identifier of the customer",
            "maxLength" : 10
          },
          "availableLimit" : {
            "type" : "string",
            "description" : "The portion of an allocated credit limit that is available for the nominated customer",
            "maxLength" : 19
          },
          "IBAN" : {
            "type" : "string",
            "description" : "International Bank Account number, an identifier of the account. E.g. GB29 NWBK 6016 1331 9268 19",
            "maxLength" : 19
          },
          "portfolioId" : {
            "type" : "string",
            "description" : "Id of the portfolio or security account",
            "maxLength" : 18
          },
          "openingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the account is opened."
          },
          "limitReference" : {
            "type" : "string",
            "description" : "Identifies the credit limit reference for the underlying account.",
            "maxLength" : 10
          },
          "clearedBalance" : {
            "type" : "number",
            "description" : "Balance taking into consideration all cleared funds booked against the account, including credit and reversed debit entries with a future exposure date."
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "holdingsAccountTransactionsResponseQueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        },
        "data" : {
          "type" : "object",
          "properties" : {
            "accountId" : {
              "type" : "string",
              "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
            },
            "customerId" : {
              "type" : "string",
              "description" : "Identifier of the customer"
            },
            "accountCurrency" : {
              "type" : "string",
              "description" : "Currency of the account. For example: USD, GBP."
            },
            "openingBalance" : {
              "type" : "string",
              "description" : "Balance brought forward from the previous date/period.",
              "maxLength" : 19
            }
          }
        }
      }
    },
    "holdingsAccountTransactionsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/holdingsAccountTransactionsResponseQueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/holdingsAccountTransactionsResponseBody"
        }
      },
      "description" : "holdingsAccountTransactionsResponse"
    },
    "holdingsAccountTransactionsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "bookingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Business date on which the accounting entry was generated."
          },
          "transactionId" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 150
          },
          "transactionName" : {
            "type" : "string",
            "description" : "The transaction description"
          },
          "valueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
          },
          "transactionAmount" : {
            "type" : "number",
            "description" : "Contains the transaction amount. This is based on the currency, either local or foreign currency"
          },
          "debitCreditIndicator" : {
            "type" : "string",
            "description" : "Indicator flag which is set whenever a debit or a credit transaction happens in the account"
          },
          "transactionTotal" : {
            "type" : "string",
            "description" : "The total amount of the transaction"
          }
        }
      }
    },
    "AccountTransactionsResponseQueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        },
        "data" : {
          "type" : "object",
          "properties" : {
            "accountId" : {
              "type" : "string",
              "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."
            },
            "customerId" : {
              "type" : "string",
              "description" : "The identifier of the customer"
            },
            "accountCurrency" : {
              "type" : "string",
              "description" : "The currency of the account"
            },
            "openingBalance" : {
              "type" : "string",
              "maxLength" : 19
            }
          }
        }
      }
    },
    "holdingsAccountCardsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/holdingsAccountCardsResponseBody"
        }
      },
      "description" : "holdingsAccountCardsResponse"
    },
    "holdingsAccountCardsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountIds" : {
            "type" : "array",
            "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountId" : {
                  "type" : "string",
                  "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                  "maxLength" : 16
                }
              }
            }
          },
          "cardNames" : {
            "type" : "array",
            "description" : "The name that is displayed for the card",
            "items" : {
              "type" : "object",
              "properties" : {
                "cardName" : {
                  "type" : "string",
                  "description" : "Name of the Cardholder/Customer",
                  "maxLength" : 35
                }
              }
            }
          },
          "cardIssueId" : {
            "type" : "string",
            "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
            "maxLength" : 24
          },
          "cardDisplayNumber" : {
            "type" : "string",
            "description" : "Contains the number displayed on the card"
          },
          "cardType" : {
            "type" : "string",
            "description" : "The type of the card, e.g. Visa, Mastercard, etc."
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes"
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "issueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the item was issued."
          },
          "expiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
          },
          "cancellationDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date of cancellation"
          },
          "cancellationReason" : {
            "type" : "string",
            "description" : "The reason for the cancellation",
            "maxLength" : 2
          },
          "cardStatus" : {
            "type" : "string",
            "description" : "Current status of the Card and following are the possible statuses are  - CARD.ISSUED - CARD.RETURNED - CARD.SCRAP - CARD.CANCEL - NOT.ACTIVATED - NOT.RECEIVED - ACTIVE - BLOCKED - EXPIRED",
            "maxLength" : 3
          },
          "fullCardNumber" : {
            "type" : "string",
            "description" : "The complete card number including the combination of bank codes, account number and other card convention"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 4
          }
        }
      }
    },
    "holdingsAccountBalanceTodayResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/holdingsAccountBalanceTodayResponseBody"
        }
      },
      "description" : "holdingsAccountBalanceTodayResponse"
    },
    "holdingsAccountBalanceTodayResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 19
          },
          "accountName" : {
            "type" : "string",
            "description" : "Display name or short name of the account specified.",
            "maxLength" : 19
          },
          "limitReferenceId" : {
            "type" : "string",
            "description" : "Limit reference identifier for the limit order.",
            "maxLength" : 10
          },
          "productId" : {
            "type" : "string",
            "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
            "maxLength" : 6
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "workingBalance" : {
            "type" : "string",
            "description" : "Real-time balance including all authorised transactions posted against the account and, unless it is a nostro or internal account, unauthorised debit entries.",
            "maxLength" : 19
          },
          "ledgerBalance" : {
            "type" : "string",
            "description" : "Contains the ledger balance of the account which is the total of all entries posted against the account excluding any entries with the processing date in the future.",
            "maxLength" : 19
          },
          "clearedBalance" : {
            "type" : "string",
            "description" : "Balance taking into consideration all cleared funds booked against the account, including credit and reversed debit entries with a future exposure date.",
            "maxLength" : 19
          },
          "lockedAmount" : {
            "type" : "string",
            "description" : "Shows reserved amount for the underlying account for a given balance reservation event.",
            "maxLength" : 19
          },
          "useableBalance" : {
            "type" : "string",
            "description" : "Contains the usable amount in the balance"
          }
        }
      }
    },
    "holdingsAccountDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/holdingsAccountDetailsResponseBody"
        }
      },
      "description" : "holdingsAccountDetailsResponse"
    },
    "holdingsAccountDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "sharedLimitAccounts" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "sharedLimitAccount" : {
                  "type" : "string",
                  "description" : "Denotes the account in which the credit card limit is assigned to the customer across all the credit cards"
                },
                "sharedLimitAccountType" : {
                  "type" : "string",
                  "description" : "Indicates the type of shared limit account"
                }
              }
            }
          },
          "taxRates" : {
            "type" : "array",
            "description" : "The applicable rate of tax",
            "items" : {
              "type" : "object",
              "properties" : {
                "taxRate" : {
                  "type" : "string",
                  "description" : "Indicates tax charged to an account"
                }
              }
            }
          },
          "interests" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "interestPropertyName" : {
                  "type" : "string",
                  "description" : "Contains the property name of loan interest such as penalty Interest and principal interest."
                },
                "interestCompoundType" : {
                  "type" : "string",
                  "description" : "Indicates the interest compound type of an account"
                },
                "interestCompoundTypeValue" : {
                  "type" : "string",
                  "description" : "Indicates the interest compound type value of an account"
                },
                "consolidateInterests" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "consolidateInterest" : {
                        "type" : "string",
                        "description" : "Contains the sum of the cash interest expense and net of cash interest income of the borrower and the restricted subsidiaries determined on a consolidated basis"
                      }
                    }
                  }
                }
              }
            }
          },
          "sharedInterestAccounts" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "sharedInterestAccount" : {
                  "type" : "string",
                  "description" : "Contains the account details which shares the interest among the eligible or joint customers."
                },
                "sharedInterestAccountType" : {
                  "type" : "string",
                  "description" : "Indicates the type of shared interest account"
                }
              }
            }
          },
          "charges" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentFrequency" : {
                  "type" : "string",
                  "description" : "The frequency at which a payment is required to be generated"
                },
                "paymentTypeName" : {
                  "type" : "string",
                  "description" : "Indicates Payment type set to an account"
                },
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the Id of the product property"
                },
                "paymentMethod" : {
                  "type" : "string",
                  "description" : "Method chosen to make the payment"
                },
                "chargeSchedulePaymentValue" : {
                  "type" : "string",
                  "description" : "Indicates the payment frequency associated with the charge"
                }
              }
            }
          },
          "openActualBalance" : {
            "type" : "number",
            "description" : "Contains the opening actual balance of an account"
          },
          "availableOverdraftLimit" : {
            "type" : "number",
            "description" : "Contains the overdraft limit still available to be utilized"
          },
          "openingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the account is opened."
          },
          "approvedOverdraftLimit" : {
            "type" : "number",
            "description" : "Contains the approved overdraft limit"
          },
          "limitExpiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "This field specifies the validity of the Limit, i.e. how long is it to remain in force"
          },
          "availableFunds" : {
            "type" : "number",
            "description" : "Total funds available in the account after all the ongoing transactions have been completed"
          },
          "outstandingOverdraftLimit" : {
            "type" : "number",
            "description" : "Indicates the outstanding overdraft limit of an account"
          },
          "onlineClearedBalance" : {
            "type" : "number",
            "description" : "Indicates the available balance allowed to use"
          },
          "openClearedBalance" : {
            "type" : "number",
            "description" : "Indicates the opening balance after clearing"
          },
          "accountWithBankBIC" : {
            "type" : "string",
            "description" : "This is the BIC code of the institution where beneficiary holds an account"
          }
        }
      }
    },
    "holdingsEligibleEventsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/holdingsEligibleEventsResponseBody"
        }
      },
      "description" : "holdingsEligibleEventsResponse"
    },
    "holdingsEligibleEventsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "fields" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "fieldDisplayName" : {
                  "type" : "string",
                  "description" : "Contains the name of the display for enrichment purposes"
                },
                "operand" : {
                  "type" : "string",
                  "description" : "This field along with fieldName and value, defines the conditions for the alert to be triggered."
                },
                "fieldValue" : {
                  "type" : "string",
                  "description" : "Value of the field"
                }
              }
            }
          },
          "eventId" : {
            "type" : "string",
            "description" : "Event identifier"
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes"
          },
          "displayCondition" : {
            "type" : "string",
            "description" : "The condition which must be pulled from the record for which the response should be displayed"
          },
          "messageGroupId" : {
            "type" : "string",
            "description" : "Contains the starting message id of the conversation"
          },
          "subscriptionLevel" : {
            "type" : "string",
            "description" : "Extra filtering and validation at the subscription level to indicate if this event can be subscribed by a customer or department or both.  If defined as GLOBAL, then the customer cannot subscribe or un-subscribe to this event.  Allowed values: - INTERNAL - EXTERNAL - BOTH - GLOBAL"
          }
        }
      }
    }
  }
}