{
  "swagger" : "2.0",
  "info" : {
    "description" : "Get and management of Holdings Cards",
    "version" : "v1.0.0",
    "title" : "Holdings Cards APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/cards" : {
      "get" : {
        "operationId" : "getCardIssues",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardIssueId",
          "in" : "query",
          "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "issueDate",
          "in" : "query",
          "description" : "The date the item was issued.",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "expiryDate",
          "in" : "query",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "cardStatus",
          "in" : "query",
          "description" : "Current status of the Card and following are the possible statuses are  - CARD.ISSUED - CARD.RETURNED - CARD.SCRAP - CARD.CANCEL - NOT.ACTIVATED - NOT.RECEIVED - ACTIVE - BLOCKED - EXPIRED",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CardIssuesResponse",
            "schema" : {
              "$ref" : "#/definitions/CardIssuesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/cards/{cardIssueId}" : {
      "post" : {
        "operationId" : "createCardIssue",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardIssueId",
          "in" : "path",
          "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CardIssue"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CardIssueResponse",
            "schema" : {
              "$ref" : "#/definitions/CardIssueResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updateCardIssue",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardIssueId",
          "in" : "path",
          "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CardIssue"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CardIssueResponse",
            "schema" : {
              "$ref" : "#/definitions/CardIssueResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "deleteCardIssue",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardIssueId",
          "in" : "path",
          "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CardIssueResponse",
            "schema" : {
              "$ref" : "#/definitions/CardIssueResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "CardIssuesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CardIssuesResponseBody"
        }
      },
      "description" : "CardIssuesResponse"
    },
    "CardIssuesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "accountIds" : {
            "type" : "array",
            "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
            "items" : {
              "type" : "object",
              "properties" : {
                "accountId" : {
                  "type" : "string",
                  "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                  "maxLength" : 16
                }
              }
            }
          },
          "cardNames" : {
            "type" : "array",
            "description" : "The name that is displayed for the card",
            "items" : {
              "type" : "object",
              "properties" : {
                "cardName" : {
                  "type" : "string",
                  "description" : "Name of the Cardholder/Customer",
                  "maxLength" : 35
                }
              }
            }
          },
          "cardIssueId" : {
            "type" : "string",
            "description" : "The identifier of the issued card formatted as cardType '.' cardNumber. E.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222",
            "maxLength" : 24
          },
          "cardDisplayNumber" : {
            "type" : "string",
            "description" : "Contains the number displayed on the card"
          },
          "cardType" : {
            "type" : "string",
            "description" : "The type of the card, e.g. Visa, Mastercard, etc."
          },
          "displayName" : {
            "type" : "string",
            "description" : "Contains the name used for display or enrichment purposes"
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 3
          },
          "issueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date the item was issued."
          },
          "expiryDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
          },
          "cancellationDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date of cancellation"
          },
          "cancellationReason" : {
            "type" : "string",
            "description" : "The reason for the cancellation",
            "maxLength" : 2
          },
          "cardStatus" : {
            "type" : "string",
            "description" : "Current status of the Card and following are the possible statuses are  - CARD.ISSUED - CARD.RETURNED - CARD.SCRAP - CARD.CANCEL - NOT.ACTIVATED - NOT.RECEIVED - ACTIVE - BLOCKED - EXPIRED",
            "maxLength" : 3
          },
          "fullCardNumber" : {
            "type" : "string",
            "description" : "The complete card number including the combination of bank codes, account number and other card convention"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Current number of the record",
            "maxLength" : 4
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "CardIssue" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CardIssueBody"
        }
      },
      "description" : "CardIssue",
      "example" : "{\n  \"cardNames\": [{\"cardName\": \"ROLF GEEEdsNG\"}],\n  \"header\": {},\n  \"body\": {\"expiryDate\": \"2020-03-29\"}\n}"
    },
    "CardIssueBody" : {
      "type" : "object",
      "properties" : {
        "accountIds" : {
          "type" : "array",
          "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountId" : {
                "type" : "string",
                "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
              }
            }
          }
        },
        "cardNames" : {
          "type" : "array",
          "description" : "The name that is displayed for the card",
          "items" : {
            "type" : "object",
            "properties" : {
              "cardName" : {
                "type" : "string",
                "description" : "Name of the Cardholder/Customer"
              }
            }
          }
        },
        "notes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "note" : {
                "type" : "string",
                "description" : "Notes to facilitate the use of the function"
              }
            }
          }
        },
        "cardStatus" : {
          "type" : "string",
          "description" : "Current status of the Card and following are the possible statuses are  - CARD.ISSUED - CARD.RETURNED - CARD.SCRAP - CARD.CANCEL - NOT.ACTIVATED - NOT.RECEIVED - ACTIVE - BLOCKED - EXPIRED"
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "pinIssueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the date of issue of the pin"
        },
        "cancellationDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date of cancellation"
        },
        "cancellationReason" : {
          "type" : "string",
          "description" : "The reason for the cancellation"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "CardIssueResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CardIssueResponseBody"
        }
      },
      "description" : "CardIssueResponse"
    },
    "CardIssueResponseBody" : {
      "type" : "object",
      "properties" : {
        "accountIds" : {
          "type" : "array",
          "description" : "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
          "items" : {
            "type" : "object",
            "properties" : {
              "accountId" : {
                "type" : "string",
                "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
              }
            }
          }
        },
        "cardNames" : {
          "type" : "array",
          "description" : "The name that is displayed for the card",
          "items" : {
            "type" : "object",
            "properties" : {
              "cardName" : {
                "type" : "string",
                "description" : "Name of the Cardholder/Customer"
              }
            }
          }
        },
        "notes" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "note" : {
                "type" : "string",
                "description" : "Notes to facilitate the use of the function"
              }
            }
          }
        },
        "cardStatus" : {
          "type" : "string",
          "description" : "Current status of the Card and following are the possible statuses are  - CARD.ISSUED - CARD.RETURNED - CARD.SCRAP - CARD.CANCEL - NOT.ACTIVATED - NOT.RECEIVED - ACTIVE - BLOCKED - EXPIRED"
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "pinIssueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Contains the date of issue of the pin"
        },
        "cancellationDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date of cancellation"
        },
        "cancellationReason" : {
          "type" : "string",
          "description" : "The reason for the cancellation"
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "updateCardIssue" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CardIssueBody"
        }
      },
      "description" : "CardIssue",
      "example" : "{\n  \"cardNames\": [{\"cardName\": \"ROLF GEEEdsNG\"}],\n  \"header\": {},\n  \"body\": {\"expiryDate\": \"2020-03-29\"}\n}"
    },
    "createCardIssue" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CardIssueBody"
        }
      },
      "description" : "CardIssue",
      "example" : "{\n  \"cardNames\": [{\"cardName\": \"ROLF GEEEdsNG\"}],\n  \"header\": {},\n  \"body\": {\"expiryDate\": \"2020-03-29\"}\n}"
    }
  }
}