{
  "swagger" : "2.0",
  "info" : {
    "description" : "Update decision on export Lc amendments",
    "version" : "v1.0.0",
    "title" : "updateDecisionOnExportLCAmendment"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/letterOfCredits/{letterOfCreditId}/exports/decisions" : {
      "put" : {
        "operationId" : "updateDecisionOnExportLCAmendment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "letterOfCreditId",
          "in" : "path",
          "description" : "Identifier of the Letter Of Credit",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/updateDecisionOnExportLCAmendment"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateDecisionOnExportLCAmendmentResponse",
            "schema" : {
              "$ref" : "#/definitions/updateDecisionOnExportLCAmendmentResponse"
            }
          },
          "default" : {
            "description" : "updateDecisionOnExportLCAmendmentErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/updateDecisionOnExportLCAmendmentErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "updateDecisionOnExportLCAmendment" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/updateDecisionOnExportLCAmendmentBody"
        }
      },
      "description" : "updateDecisionOnExportLCAmendment",
      "example" : "{\n  \"header\": {},\n  \"body\": {\n    \"amendmentNumber\": \"01\",\n    \"amendStatus\": \"REJECTED\"\n  }\n}"
    },
    "updateDecisionOnExportLCAmendmentBody" : {
      "type" : "object",
      "properties" : {
        "beneficiaries" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiary" : {
                "type" : "string",
                "description" : "Identifies the Beneficiary name and address of the Standing Order"
              }
            }
          }
        },
        "shipmentPeriods" : {
          "type" : "array",
          "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge.",
          "items" : {
            "type" : "object",
            "properties" : {
              "shipmentPeriod" : {
                "type" : "string",
                "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge."
              }
            }
          }
        },
        "bankToBanks" : {
          "type" : "array",
          "description" : "Field to specify the additional information for the Receiver ie between banks hanlding the LC.",
          "items" : {
            "type" : "object",
            "properties" : {
              "bankToBank" : {
                "type" : "string",
                "description" : "Field to specify the additional information for the Receiver i.e. between banks handling the Letter of Credit"
              }
            }
          }
        },
        "internalAmendmentDetails" : {
          "type" : "array",
          "description" : "It’s a free text field for updating the internal amendment details",
          "items" : {
            "type" : "object",
            "properties" : {
              "internalAmendmentDetail" : {
                "type" : "string",
                "description" : "This is a free text field for updating the internal amendment details"
              }
            }
          }
        },
        "senderReceiversInfoMT730" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "senderReceiverInfoMT730" : {
                "type" : "string",
                "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT730 message."
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive)."
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party)."
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to."
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different."
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "amortiseCharges" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input"
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. "
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc."
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "amendmentNumber" : {
          "type" : "string",
          "description" : "Indicates the amendment number under the Letter of Credit."
        },
        "lcType" : {
          "type" : "string",
          "description" : "Indicates the type of LC, whether this is an Import/Export, Confirmed/Unconfirmed/Revolving/Transferrable/Back to Back LC/documentary collection/Clean collection etc."
        },
        "amendStatus" : {
          "type" : "string",
          "description" : "System updated field at the time of Amendment decision under the Letter of Credit using Operation 'D'. This field indicates the current status of the amendment whether amendment is pending, approved or rejected."
        },
        "applicantCustomer" : {
          "type" : "string",
          "description" : "Indicates the applicant ID on whose behalf the Letter of Credit is issued."
        },
        "lcNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID"
        },
        "sendAmendmentAdvice" : {
          "type" : "string",
          "description" : "Decides if an amendment is external or internal . Valid input is YES, indicating that an amendment is external and that a message is to be communicated to other parties of the Letter of Credit. Otherwise, NO indicates an internal amendment hence no message output."
        },
        "issuingBankReference" : {
          "type" : "string",
          "description" : "Issuing Bank/Advising Bank/Customer reference number for use on messages and advices under the LC contract. For Export LCs this is the Issuing Bank's reference. For Import LCs this is the Advising Bank's reference"
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "issuingBankId" : {
          "type" : "string",
          "description" : "Identifies the Issuing bank ID under the LC, who issues the LC under when a bank is advising the Letter of Credit"
        },
        "lcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit."
        },
        "lcAmount" : {
          "type" : "number",
          "description" : "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field."
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount."
        },
        "purposeOfMessage" : {
          "type" : "string",
          "description" : "Indicates the purpose of MT707 amendment message, whether its the issuance of amendment message or advise of amendment message to the second advising bank or advise and confirmation of amendment message to the second advising bank. Permitted Codes are: ACNF - Advice and confirmation of the credit amendment ADVI - Advice of the credit amendment ISSU - Issuance of the credit amendment"
        },
        "cancellationRequest" : {
          "type" : "string",
          "description" : "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL."
        },
        "additionalAmountCovered" : {
          "type" : "number",
          "description" : "Specifies any additional amounts available under the Letter of Credit, such as insurance, freight, interest, etc."
        },
        "newLCExpiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "New Expiry date for presentation under the Letter of Credit"
        },
        "expiryPlace" : {
          "type" : "string",
          "description" : "Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "limitReference" : {
          "type" : "string",
          "description" : "Identifies the credit limit reference for the underlying account."
        },
        "placeOfTakingInCharge" : {
          "type" : "string",
          "description" : "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document"
        },
        "portOfLoading" : {
          "type" : "string",
          "description" : "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC."
        },
        "portOfDischarge" : {
          "type" : "string",
          "description" : "Indicates the port of discharge or the airport of destination of the shipment under the LC."
        },
        "finalDestination" : {
          "type" : "string",
          "description" : "Indicates the final destination or place of delivery of the shipment under the LC."
        },
        "latestShipmentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)"
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge"
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "updateDecisionOnExportLCAmendmentResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/updateDecisionOnExportLCAmendmentResponseBody"
        }
      },
      "description" : "updateDecisionOnExportLCAmendmentResponse"
    },
    "updateDecisionOnExportLCAmendmentResponseBody" : {
      "type" : "object",
      "properties" : {
        "beneficiaries" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiary" : {
                "type" : "string",
                "description" : "Identifies the Beneficiary name and address of the Standing Order"
              }
            }
          }
        },
        "shipmentPeriods" : {
          "type" : "array",
          "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge.",
          "items" : {
            "type" : "object",
            "properties" : {
              "shipmentPeriod" : {
                "type" : "string",
                "description" : "Indicates the period of time which the goods are to be loaded on board/dispatched/taken in charge."
              }
            }
          }
        },
        "bankToBanks" : {
          "type" : "array",
          "description" : "Field to specify the additional information for the Receiver ie between banks hanlding the LC.",
          "items" : {
            "type" : "object",
            "properties" : {
              "bankToBank" : {
                "type" : "string",
                "description" : "Field to specify the additional information for the Receiver i.e. between banks handling the Letter of Credit"
              }
            }
          }
        },
        "internalAmendmentDetails" : {
          "type" : "array",
          "description" : "It’s a free text field for updating the internal amendment details",
          "items" : {
            "type" : "object",
            "properties" : {
              "internalAmendmentDetail" : {
                "type" : "string",
                "description" : "This is a free text field for updating the internal amendment details"
              }
            }
          }
        },
        "senderReceiversInfoMT730" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "senderReceiverInfoMT730" : {
                "type" : "string",
                "description" : "This field holds the additional information for the Receiver (Tag 72Z), while receiving/generating MT730 message."
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive)."
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party)."
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to."
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different."
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "amortiseCharges" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input"
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. "
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc."
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "amendmentNumber" : {
          "type" : "string",
          "description" : "Indicates the amendment number under the Letter of Credit."
        },
        "lcType" : {
          "type" : "string",
          "description" : "Indicates the type of LC, whether this is an Import/Export, Confirmed/Unconfirmed/Revolving/Transferrable/Back to Back LC/documentary collection/Clean collection etc."
        },
        "amendStatus" : {
          "type" : "string",
          "description" : "System updated field at the time of Amendment decision under the Letter of Credit using Operation 'D'. This field indicates the current status of the amendment whether amendment is pending, approved or rejected."
        },
        "applicantCustomer" : {
          "type" : "string",
          "description" : "Indicates the applicant ID on whose behalf the Letter of Credit is issued."
        },
        "lcNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID"
        },
        "sendAmendmentAdvice" : {
          "type" : "string",
          "description" : "Decides if an amendment is external or internal . Valid input is YES, indicating that an amendment is external and that a message is to be communicated to other parties of the Letter of Credit. Otherwise, NO indicates an internal amendment hence no message output."
        },
        "issuingBankReference" : {
          "type" : "string",
          "description" : "Issuing Bank/Advising Bank/Customer reference number for use on messages and advices under the LC contract. For Export LCs this is the Issuing Bank's reference. For Import LCs this is the Advising Bank's reference"
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "issuingBankId" : {
          "type" : "string",
          "description" : "Identifies the Issuing bank ID under the LC, who issues the LC under when a bank is advising the Letter of Credit"
        },
        "lcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit."
        },
        "lcAmount" : {
          "type" : "number",
          "description" : "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field."
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount."
        },
        "purposeOfMessage" : {
          "type" : "string",
          "description" : "Indicates the purpose of MT707 amendment message, whether its the issuance of amendment message or advise of amendment message to the second advising bank or advise and confirmation of amendment message to the second advising bank. Permitted Codes are: ACNF - Advice and confirmation of the credit amendment ADVI - Advice of the credit amendment ISSU - Issuance of the credit amendment"
        },
        "cancellationRequest" : {
          "type" : "string",
          "description" : "Indicates that the documentary credit is requested to be cancelled. Valid input in this field is CANCEL."
        },
        "additionalAmountCovered" : {
          "type" : "number",
          "description" : "Specifies any additional amounts available under the Letter of Credit, such as insurance, freight, interest, etc."
        },
        "newLCExpiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "New Expiry date for presentation under the Letter of Credit"
        },
        "expiryPlace" : {
          "type" : "string",
          "description" : "Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "limitReference" : {
          "type" : "string",
          "description" : "Identifies the credit limit reference for the underlying account."
        },
        "placeOfTakingInCharge" : {
          "type" : "string",
          "description" : "Indicates the place of taking in charge(in case of multimodal transport document), the place of receipt(in case of a road, rail or inland waterway transport document or a courier expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document"
        },
        "portOfLoading" : {
          "type" : "string",
          "description" : "Indicates the place of dispatch or taking in charge of the goods or loading on board for shipments made under the LC."
        },
        "portOfDischarge" : {
          "type" : "string",
          "description" : "Indicates the port of discharge or the airport of destination of the shipment under the LC."
        },
        "finalDestination" : {
          "type" : "string",
          "description" : "Indicates the final destination or place of delivery of the shipment under the LC."
        },
        "latestShipmentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC."
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)"
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge"
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "updateDecisionOnExportLCAmendmentErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/updateDecisionOnExportLCAmendmentErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "updateDecisionOnExportLCAmendmentErrorResponse"
    },
    "updateDecisionOnExportLCAmendmentErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}