{
  "swagger" : "2.0",
  "info" : {
    "description" : "Issuing Mixed payment LCs",
    "version" : "v1.0.0",
    "title" : "createIssuanceOfMixedPaymentLC"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/letterOfCredits/mixedPayments" : {
      "post" : {
        "operationId" : "createIssuanceOfMixedPaymentLC",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/createIssuanceOfMixedPaymentLC"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createIssuanceOfMixedPaymentLCResponse",
            "schema" : {
              "$ref" : "#/definitions/createIssuanceOfMixedPaymentLCResponse"
            }
          },
          "default" : {
            "description" : "createIssuanceOfMixedPaymentLCErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/createIssuanceOfMixedPaymentLCErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "createIssuanceOfMixedPaymentLC" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/createIssuanceOfMixedPaymentLCBody"
        }
      },
      "description" : "createIssuanceOfMixedPaymentLC",
      "example" : {
        "header" : { },
        "body" : {
          "applicantCustomer" : "100100",
          "confirmationInstruction" : "CONFIRM",
          "requestedConfirmBank" : "129031",
          "applicableRuleCodes" : "URR LATEST VERSION",
          "lcAmount" : 100000,
          "chargeDefaultAccount" : "75132",
          "lcCurrency" : "USD",
          "expiryDate" : "20200220",
          "charges" : [ {
            "partyCharged" : "O",
            "amortiseCharges" : "NO",
            "chargeDebitAccount" : "75132",
            "chargeCode" : "LCOPENAMRT"
          } ],
          "beneficiaryCustomerId" : "100160",
          "waiveCharge" : "NO",
          "availableWithBanks" : [ {
            "availableWithBank" : "ANY"
          } ],
          "drawings" : [ {
            "paymentPercent" : "100",
            "drawingType" : "SP"
          } ],
          "advisingBankId" : "100460",
          "expiryPlace" : "US",
          "importMixedPmtLCType" : "IMC",
          "reimbursingBanks.1" : [ {
            "reimbursingbank1" : "ANY"
          } ],
          "chargeFrom" : "O"
        }
      }
    },
    "createIssuanceOfMixedPaymentLCBody" : {
      "type" : "object",
      "properties" : {
        "applicantAddresses" : {
          "type" : "array",
          "description" : "Indicates the name and address of the applicant of the LC.",
          "items" : {
            "type" : "object",
            "properties" : {
              "applicantAddress" : {
                "type" : "string",
                "description" : "Indicates the name and address of the applicant of the Letter of Credit"
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "advisingBankAddresses" : {
          "type" : "array",
          "description" : "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advisng bank or beneficiary.",
          "items" : {
            "type" : "object",
            "properties" : {
              "advisingBankAddress" : {
                "type" : "string",
                "description" : "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary."
              }
            }
          }
        },
        "adviseThroughBanks" : {
          "type" : "array",
          "description" : "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
          "items" : {
            "type" : "object",
            "properties" : {
              "adviseThroughBank" : {
                "type" : "string",
                "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary."
              }
            }
          }
        },
        "availableWithBanks" : {
          "type" : "array",
          "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items" : {
            "type" : "object",
            "properties" : {
              "availableWithBank" : {
                "type" : "string",
                "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
              }
            }
          }
        },
        "reimbursingBanks1" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "reimbursingBank1" : {
                "type" : "string",
                "description" : "Identifies the Name & Address of the reimbursing bank under the LC. If the third party reimbursing bank is not one of the banks customers (i.e. not on the customer list), then this field allows the input of a name and address of the reimbursing bank."
              }
            }
          }
        },
        "requestedConfirmBankNames" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "requestedConfirmBankName" : {
                "type" : "string",
                "description" : "Name and address of the requested confirming bank, i.e. the bank which may or which is requested by the issuing bank to add its confirmation to the documentary credit."
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive)."
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party)."
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to."
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different."
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "amortiseCharges" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input"
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. "
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc."
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "drawings" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "drawingType" : {
                "type" : "string",
                "description" : "This field is correlated to the other field payment type and identifies the Draw type under Letter of credit. Whether its a sight LC payment, acceptance, deferred payment or Mixed payment."
              },
              "paymentPercent" : {
                "type" : "string",
                "description" : "This field identifies the percentage amount of LC that is available for a particular draw type."
              },
              "paymentPortion" : {
                "type" : "string",
                "description" : "Identifies the amount of LC that is available for a particular draw type."
              },
              "acptTimeBand" : {
                "type" : "string",
                "description" : "This field indicate the number of days applicable to an Acceptance or Deferred Payment period under a letter of credit. "
              },
              "additionalCoveredAmount" : {
                "type" : "string",
                "description" : "This field allows input of an amount that will be added to the liability amount of the LC and the limit will be updated accordingly."
              },
              "portionNo" : {
                "type" : "string",
                "description" : "This is a system generated field to display the revolution number under a revolving letter of credit."
              },
              "drawingAmount" : {
                "type" : "string",
                "description" : "System populated field that holds the amount of drawing processed under the related draw type multi value set."
              },
              "provisionOutstandingAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the provision / margin outstanding amount."
              },
              "provisionAwaitAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the related provision amount to be released subsequently on maturity date of a related drawing."
              },
              "liabilityPortionAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the liability relating to each portion (MX or revolving type of LC) such as sight, acceptance or deferred payment is stored here."
              },
              "localCurrencyPortiomAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the local currency equivalent of the liability portion stored in liability portion amount."
              },
              "limitReference" : {
                "type" : "string",
                "description" : "Identifies the credit limit reference for the underlying account."
              },
              "portionOverdrawn" : {
                "type" : "string",
                "description" : "This is a system populated field to display the amount overdrawn for a particular portion in a mixed payment transaction."
              }
            }
          }
        },
        "importMixedPmtLCType" : {
          "type" : "string",
          "description" : "Identifies the Import Mixed payment type of LC"
        },
        "lcNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID"
        },
        "applicantCustomer" : {
          "type" : "string",
          "description" : "Indicates the applicant ID on whose behalf the Letter of Credit is issued."
        },
        "lcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit."
        },
        "lcAmount" : {
          "type" : "number",
          "description" : "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field."
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount."
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "expiryPlace" : {
          "type" : "string",
          "description" : "Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "daysAndPeriodForPresentation" : {
          "type" : "string",
          "description" : "Specifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. "
        },
        "shipmentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC"
        },
        "modeOfShipment" : {
          "type" : "string",
          "description" : "Defining the mode of shipment allowed for transporting the goods and service under the LC. Allowed values are: - Air - Sea - Road - Rail - Multi Modal - Other"
        },
        "incoTerms" : {
          "type" : "string",
          "description" : "This field holds the valid incoterms code"
        },
        "limitReference" : {
          "type" : "string",
          "description" : "Identifies the credit limit reference for the underlying account."
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)"
        },
        "applicableRuleCodesMT740" : {
          "type" : "string",
          "description" : "Indicates the reimbursement rules that the Letter of Credit contract is subject to. Allowed values: - URR LATEST VERSION - NOTURR - null (default)"
        },
        "confirmationInstruction" : {
          "type" : "string",
          "description" : "This field contains confirmation instructions for the receiver of the SWIFT MT700 / MT710 "
        },
        "beneficiaryCustomerId" : {
          "type" : "string",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank."
        },
        "advisingBankId" : {
          "type" : "string",
          "description" : "Identifies the advising bank ID under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary"
        },
        "adviseThroughBank" : {
          "type" : "string",
          "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary."
        },
        "availableWithBankId" : {
          "type" : "string",
          "description" : "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "reimbursingBank" : {
          "type" : "string",
          "description" : "Identifies the reimbursing bank ID under the LC, through whom reimbursement will be made to the paying/negotiating bank for a letter of credit. (Reimbursing bank should be a valid customer with customer ID)"
        },
        "requestedConfirmBank" : {
          "type" : "string",
          "description" : "Id of the requested confirming bank, i.e. the bank which may or which is requested by the issuing bank to add its confirmation to the documentary credit."
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)"
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge"
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction"
        },
        "marginRequired" : {
          "type" : "string",
          "description" : "Decision field enabling a cash margin to be blocked for the LC contract. Yes or No, default is No"
        },
        "releaseProvision" : {
          "type" : "string",
          "description" : "Flag to enable the online release of the cash margin. Allowed values: - YES - null (default)"
        },
        "marginCalculationBase" : {
          "type" : "string",
          "description" : "This field determines if the margin to be calculated based on the LC base amount or the total liability amount including tolerance etc."
        },
        "marginPercent" : {
          "type" : "string",
          "description" : "Field to state the percentage of provision to be taken"
        },
        "marginDebitAccount" : {
          "type" : "string",
          "description" : "Field to state the account from which the provision amount is to be debited"
        },
        "marginAmount" : {
          "type" : "number",
          "description" : "Actual amount of provision that is debited for the transaction"
        },
        "marginExchangeRate" : {
          "type" : "string",
          "description" : "This Field determines the exchange rate to be used between the provision debit account and the provision credit account, when the currencies differ"
        },
        "limitWithProvision" : {
          "type" : "string",
          "description" : "This field determines if the margin calculated to be debited after considering the limits booked under the LC contract. Yes or No"
        },
        "documentId" : {
          "type" : "string",
          "description" : "Based on documentCode, the field defaults the required document codes"
        },
        "documentCode" : {
          "type" : "string",
          "description" : "Required documents under a Letter of Credit"
        },
        "documentsText" : {
          "type" : "string",
          "description" : "Free text field to amend or generate additional documentation"
        },
        "documentRequired" : {
          "type" : "string",
          "description" : "Free textfield used to describe the documents to be presented under the letter of credit, in addition to the predefined documents associated with documentCode."
        },
        "additionalCondition" : {
          "type" : "string",
          "description" : "Amendment details to the additional conditions under a LC contract. Must begin with the valid codes: ADD or DELETE or REPALL."
        },
        "revolvingType" : {
          "type" : "string",
          "description" : "Identifies the type of Revolving Letter of Credit , if Cumulative (CM) or Non-Cumulative type. (NC) "
        },
        "numberOfRevolution" : {
          "type" : "string",
          "description" : "Identifies the number of times the letter of credit will revolve."
        },
        "revolvingFrequency" : {
          "type" : "string",
          "description" : "Defines the frequency at which the letter of credit is to revolve."
        },
        "limitForRevolving" : {
          "type" : "string",
          "description" : "This field determines if the limit to be impacted to the current LC cycle or for the entire cycle including all the revolving values. Valid input in this field is SINGLE, and Input allowed only if the LC is revolving and non-cumulative in nature."
        },
        "curRevolLiab" : {
          "type" : "string",
          "description" : "Related to revolving Letters of Credit, this is a system populated field to display the liability in terms of the LC currency for the Current revolution."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "createIssuanceOfMixedPaymentLCResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/createIssuanceOfMixedPaymentLCResponseBody"
        }
      },
      "description" : "createIssuanceOfMixedPaymentLCResponse"
    },
    "createIssuanceOfMixedPaymentLCResponseBody" : {
      "type" : "object",
      "properties" : {
        "applicantAddresses" : {
          "type" : "array",
          "description" : "Indicates the name and address of the applicant of the LC.",
          "items" : {
            "type" : "object",
            "properties" : {
              "applicantAddress" : {
                "type" : "string",
                "description" : "Indicates the name and address of the applicant of the Letter of Credit"
              }
            }
          }
        },
        "beneficiaryAddresses" : {
          "type" : "array",
          "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryAddress" : {
                "type" : "string",
                "description" : "The address of the Beneficiary if the customer number of the Beneficiary is not known"
              }
            }
          }
        },
        "advisingBankAddresses" : {
          "type" : "array",
          "description" : "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advisng bank or beneficiary.",
          "items" : {
            "type" : "object",
            "properties" : {
              "advisingBankAddress" : {
                "type" : "string",
                "description" : "Identifies the name and address of the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary."
              }
            }
          }
        },
        "adviseThroughBanks" : {
          "type" : "array",
          "description" : "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
          "items" : {
            "type" : "object",
            "properties" : {
              "adviseThroughBank" : {
                "type" : "string",
                "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary."
              }
            }
          }
        },
        "availableWithBanks" : {
          "type" : "array",
          "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
          "items" : {
            "type" : "object",
            "properties" : {
              "availableWithBank" : {
                "type" : "string",
                "description" : "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
              }
            }
          }
        },
        "reimbursingBanks1" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "reimbursingBank1" : {
                "type" : "string",
                "description" : "Identifies the Name & Address of the reimbursing bank under the LC. If the third party reimbursing bank is not one of the banks customers (i.e. not on the customer list), then this field allows the input of a name and address of the reimbursing bank."
              }
            }
          }
        },
        "requestedConfirmBankNames" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "requestedConfirmBankName" : {
                "type" : "string",
                "description" : "Name and address of the requested confirming bank, i.e. the bank which may or which is requested by the issuing bank to add its confirmation to the documentary credit."
              }
            }
          }
        },
        "charges" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "chargeCode" : {
                "type" : "string",
                "description" : "Indicates the charge code to which the charges are identified and calculated and to be debited to the customer account. For example: C(Credit less Charges The Credit less Charges), D(Debit plus Charge The Debit plus Charge) , W(Waive)."
              },
              "partyCharged" : {
                "type" : "string",
                "description" : "Code to determine the identity of the party from whom the related charge is to be taken. Allowed values: -B(eneficiary) - O(pener) - T(hird Party)."
              },
              "chargeDebitAccount" : {
                "type" : "string",
                "description" : "The account number of the account where charges will be debited to."
              },
              "chargeCurrency" : {
                "type" : "string",
                "description" : "Indicates the currency code of the charge account from where the fee is deducted"
              },
              "ChargeExchangeRate" : {
                "type" : "string",
                "description" : "Indicates the exchange rate to be used between the charge debit account and the charge currency is different."
              },
              "chargeAmount" : {
                "type" : "string",
                "description" : "Retrieves the Charge Amount after redeem"
              },
              "amortiseCharges" : {
                "type" : "string",
                "description" : "Define if charges are to be amortised over the life of the LC. Y or N  input"
              },
              "chargeStatus" : {
                "type" : "string",
                "description" : "Indicates the codes to identify the different status of the charge. If the charge has been taken, claimed, or to be deferred or waived. The codes that are used to identify various states of the charge are: null, 2, 3, 4, 5, 15. "
              },
              "taxCurrency" : {
                "type" : "string",
                "description" : "Contains the currency that tax is to be levied in. Example USD, GBP etc."
              },
              "taxAmount" : {
                "type" : "string",
                "description" : "Total amount of taxes applicable on all commission or charges calculated for the transaction/payment."
              }
            }
          }
        },
        "drawings" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "drawingType" : {
                "type" : "string",
                "description" : "This field is correlated to the other field payment type and identifies the Draw type under Letter of credit. Whether its a sight LC payment, acceptance, deferred payment or Mixed payment."
              },
              "paymentPercent" : {
                "type" : "string",
                "description" : "This field identifies the percentage amount of LC that is available for a particular draw type."
              },
              "paymentPortion" : {
                "type" : "string",
                "description" : "Identifies the amount of LC that is available for a particular draw type."
              },
              "acptTimeBand" : {
                "type" : "string",
                "description" : "This field indicate the number of days applicable to an Acceptance or Deferred Payment period under a letter of credit. "
              },
              "additionalCoveredAmount" : {
                "type" : "string",
                "description" : "This field allows input of an amount that will be added to the liability amount of the LC and the limit will be updated accordingly."
              },
              "portionNo" : {
                "type" : "string",
                "description" : "This is a system generated field to display the revolution number under a revolving letter of credit."
              },
              "drawingAmount" : {
                "type" : "string",
                "description" : "System populated field that holds the amount of drawing processed under the related draw type multi value set."
              },
              "provisionOutstandingAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the provision / margin outstanding amount."
              },
              "provisionAwaitAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the related provision amount to be released subsequently on maturity date of a related drawing."
              },
              "liabilityPortionAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the liability relating to each portion (MX or revolving type of LC) such as sight, acceptance or deferred payment is stored here."
              },
              "localCurrencyPortiomAmount" : {
                "type" : "string",
                "description" : "This is a system populated field to display the local currency equivalent of the liability portion stored in liability portion amount."
              },
              "limitReference" : {
                "type" : "string",
                "description" : "Identifies the credit limit reference for the underlying account."
              },
              "portionOverdrawn" : {
                "type" : "string",
                "description" : "This is a system populated field to display the amount overdrawn for a particular portion in a mixed payment transaction."
              }
            }
          }
        },
        "importMixedPmtLCType" : {
          "type" : "string",
          "description" : "Identifies the Import Mixed payment type of LC"
        },
        "lcNumber" : {
          "type" : "string",
          "description" : "Identifies the Advising banks LCs number (or reference of the L/C from legacy system) or it can be used for the bank to use a unique Letter of Credit number rather than the system generated ID"
        },
        "applicantCustomer" : {
          "type" : "string",
          "description" : "Indicates the applicant ID on whose behalf the Letter of Credit is issued."
        },
        "lcCurrency" : {
          "type" : "string",
          "description" : "Denote the currency of the Letter of Credit."
        },
        "lcAmount" : {
          "type" : "number",
          "description" : "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
        },
        "creditTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit the amount can be specified plus or minus a tolerance expressed as a percentage which will always impact the LC liability for the greater amount including the plus tolerance as defined in this field."
        },
        "debitTolerance" : {
          "type" : "string",
          "description" : "Under a Letter of Credit, the amount can be specified with a tolerance, which will impact the LC liability for the greater amount. The amount in this field specifies a negative tolerance expressed as a percentage of the LC amount. It can impact the final drawing amount but not the live LC amount."
        },
        "issueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the item was issued."
        },
        "expiryDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
        },
        "expiryPlace" : {
          "type" : "string",
          "description" : "Expiry place for presentation under the documentary credit."
        },
        "liabilityReversalDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the contingent entries and the limits raised on the LC will be reversed."
        },
        "daysAndPeriodForPresentation" : {
          "type" : "string",
          "description" : "Specifies the number of calendar days after the date of shipment within which the documents must be presented for payment, acceptance or negotiation. "
        },
        "shipmentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Latest date for loading on board/dispatch/taking in charge for goods shipped under the LC"
        },
        "modeOfShipment" : {
          "type" : "string",
          "description" : "Defining the mode of shipment allowed for transporting the goods and service under the LC. Allowed values are: - Air - Sea - Road - Rail - Multi Modal - Other"
        },
        "incoTerms" : {
          "type" : "string",
          "description" : "This field holds the valid incoterms code"
        },
        "limitReference" : {
          "type" : "string",
          "description" : "Identifies the credit limit reference for the underlying account."
        },
        "autoExpiry" : {
          "type" : "string",
          "description" : "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not Allowed values: - YES - NO - null (default value, same as NO)"
        },
        "applicableRuleCodesMT740" : {
          "type" : "string",
          "description" : "Indicates the reimbursement rules that the Letter of Credit contract is subject to. Allowed values: - URR LATEST VERSION - NOTURR - null (default)"
        },
        "confirmationInstruction" : {
          "type" : "string",
          "description" : "This field contains confirmation instructions for the receiver of the SWIFT MT700 / MT710 "
        },
        "beneficiaryCustomerId" : {
          "type" : "string",
          "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank."
        },
        "advisingBankId" : {
          "type" : "string",
          "description" : "Identifies the advising bank ID under the Letter of Credit, through whom the Letter of Credit is to be advised to the second advising bank or beneficiary"
        },
        "adviseThroughBank" : {
          "type" : "string",
          "description" : "Identifies the bank ID, if different from the Receiver, through which the Letter of Credit is to be advised/confirmed to the beneficiary."
        },
        "availableWithBankId" : {
          "type" : "string",
          "description" : "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
        },
        "reimbursingBank" : {
          "type" : "string",
          "description" : "Identifies the reimbursing bank ID under the LC, through whom reimbursement will be made to the paying/negotiating bank for a letter of credit. (Reimbursing bank should be a valid customer with customer ID)"
        },
        "requestedConfirmBank" : {
          "type" : "string",
          "description" : "Id of the requested confirming bank, i.e. the bank which may or which is requested by the issuing bank to add its confirmation to the documentary credit."
        },
        "chargeFrom" : {
          "type" : "string",
          "description" : "Code to identify from whom the bank is to claim its charges. Allowed values: - O(pener) - B(eneficiary) - T(hird Party)"
        },
        "chargeDefaultAccount" : {
          "type" : "string",
          "description" : "This field identifies the default charge account under which all present and future charges under the letter of credit will be debited to. This eliminates the need to specify the charge account for every charge"
        },
        "waiveCharge" : {
          "type" : "string",
          "description" : "Indicates if the charges are to be waived for the instruction"
        },
        "marginRequired" : {
          "type" : "string",
          "description" : "Decision field enabling a cash margin to be blocked for the LC contract. Yes or No, default is No"
        },
        "releaseProvision" : {
          "type" : "string",
          "description" : "Flag to enable the online release of the cash margin. Allowed values: - YES - null (default)"
        },
        "marginCalculationBase" : {
          "type" : "string",
          "description" : "This field determines if the margin to be calculated based on the LC base amount or the total liability amount including tolerance etc."
        },
        "marginPercent" : {
          "type" : "string",
          "description" : "Field to state the percentage of provision to be taken"
        },
        "marginDebitAccount" : {
          "type" : "string",
          "description" : "Field to state the account from which the provision amount is to be debited"
        },
        "marginAmount" : {
          "type" : "number",
          "description" : "Actual amount of provision that is debited for the transaction"
        },
        "marginExchangeRate" : {
          "type" : "string",
          "description" : "This Field determines the exchange rate to be used between the provision debit account and the provision credit account, when the currencies differ"
        },
        "limitWithProvision" : {
          "type" : "string",
          "description" : "This field determines if the margin calculated to be debited after considering the limits booked under the LC contract. Yes or No"
        },
        "documentId" : {
          "type" : "string",
          "description" : "Based on documentCode, the field defaults the required document codes"
        },
        "documentCode" : {
          "type" : "string",
          "description" : "Required documents under a Letter of Credit"
        },
        "documentsText" : {
          "type" : "string",
          "description" : "Free text field to amend or generate additional documentation"
        },
        "documentRequired" : {
          "type" : "string",
          "description" : "Free textfield used to describe the documents to be presented under the letter of credit, in addition to the predefined documents associated with documentCode."
        },
        "additionalCondition" : {
          "type" : "string",
          "description" : "Amendment details to the additional conditions under a LC contract. Must begin with the valid codes: ADD or DELETE or REPALL."
        },
        "revolvingType" : {
          "type" : "string",
          "description" : "Identifies the type of Revolving Letter of Credit , if Cumulative (CM) or Non-Cumulative type. (NC) "
        },
        "numberOfRevolution" : {
          "type" : "string",
          "description" : "Identifies the number of times the letter of credit will revolve."
        },
        "revolvingFrequency" : {
          "type" : "string",
          "description" : "Defines the frequency at which the letter of credit is to revolve."
        },
        "limitForRevolving" : {
          "type" : "string",
          "description" : "This field determines if the limit to be impacted to the current LC cycle or for the entire cycle including all the revolving values. Valid input in this field is SINGLE, and Input allowed only if the LC is revolving and non-cumulative in nature."
        },
        "curRevolLiab" : {
          "type" : "string",
          "description" : "Related to revolving Letters of Credit, this is a system populated field to display the liability in terms of the LC currency for the Current revolution."
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "createIssuanceOfMixedPaymentLCErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/createIssuanceOfMixedPaymentLCErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "createIssuanceOfMixedPaymentLCErrorResponse"
    },
    "createIssuanceOfMixedPaymentLCErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}