{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create and Manage Deposit Account",
    "version" : "v1.0.0",
    "title" : "Create and Manage Deposit Account"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/deposits/shortTermDeposits" : {
      "post" : {
        "summary" : "Create a Short Term Deposit Account",
        "description" : "Create a Short Term Deposit Account",
        "operationId" : "createShortTermDeposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createShortTermDepositResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/oneYearBonds" : {
      "post" : {
        "summary" : "Creates a One year Bond/Deposit Account",
        "description" : "Creates a One year Bond/Deposit Account",
        "operationId" : "createOneYearBond",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createOneYearBondResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/threeYearBonds" : {
      "post" : {
        "summary" : "Creates a Three Year Bond/Deposit Account",
        "description" : "Creates a Three Year Bond/Deposit Account",
        "operationId" : "createThreeYearBond",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createThreeYearBondResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/longTermDeposits" : {
      "post" : {
        "summary" : "Creates a Long Term Deposit Account",
        "description" : "Creates a Long Term Deposit Account",
        "operationId" : "createLongTermDeposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createLongTermDepositResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/callDeposits" : {
      "post" : {
        "summary" : "Create a call deposit Account (No term or period)",
        "description" : "Create a call deposit Account",
        "operationId" : "createCallDeposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShortTermDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createCallDepositResponse",
            "schema" : {
              "$ref" : "#/definitions/ShortTermDepositResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/createDeposits" : {
      "post" : {
        "summary" : "Create a Deposit Account",
        "description" : "Create a Deposit Account",
        "operationId" : "createDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Deposits"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositsResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/mudarabaDeposits" : {
      "post" : {
        "summary" : "Create a Mudaraba deposit account",
        "description" : "Create a Mudaraba deposit account",
        "operationId" : "createMudarabaDeposit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MudarabaDeposit"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "createMudarabaDepositResponse",
            "schema" : {
              "$ref" : "#/definitions/MudarabaDepositResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/redeemDeposits" : {
      "post" : {
        "summary" : "Redeem a Deposit Account",
        "description" : "Redeem a Deposit Account",
        "operationId" : "redeemDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Deposits1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "redeemDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositsResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/redeemDeposits/{arrangementId}" : {
      "post" : {
        "summary" : "Simulate to Redeem a Deposit Account",
        "description" : "Simulate to Redeem a Deposit Account",
        "operationId" : "simulateRedeemDeposits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Deposits1"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "simulateRedeemDepositsResponse",
            "schema" : {
              "$ref" : "#/definitions/DepositsResponse1"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/deposits/{arrangementId}/chargeAmount" : {
      "get" : {
        "summary" : "Retrieves the Charge amount for a given Charge Property",
        "description" : "Retrieves the Charge amount for a given Charge Property",
        "operationId" : "getChargeAmount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "chargeProperty",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "description" : "Indicates the Reference ID for simulation activity",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ChargeAmountResponse",
            "schema" : {
              "$ref" : "#/definitions/ChargeAmountResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override."
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "The identifier of the error message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "ShortTermDeposit" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ShortTermDepositBody"
        }
      },
      "description" : "ShortTermDeposit",
      "example" : "{\n  \"header\": {\n    \"audit\": {\"versionNumber\": \"\"},\n    \"override\": {\"overrideDetails\": [\n      {\n        \"description\": \"Maximum negotiation value of 90D has been exceeded by 276D in field TERM.1.1\",\n        \"id\": \"AA.ECT.MAX.EXCEED\",\n        \"type\": \"Override\"\n      },\n      {\n        \"options\": [\n          \"RECEIVED\",\n          \"NOT RECEIVED\"\n        ],\n        \"description\": \"Have you received Deposit Agreement/AAA*207 from 100500}RECEIVED_NOT RECEIVED\",\n        \"id\": \"DM.CONFIRM.DOC\",\n        \"type\": \"Warning\",\n        \"responseCode\": \"RECEIVED\"\n      }\n    ]}\n  },\n  \"body\": {\n    \"partyIds\": [{\"partyId\": \"100500\"}],\n    \"activityId\": \"DEPOSITS-NEW-ARRANGEMENT\",\n    \"arrangmentId\": \"NEW\",\n    \"productId\": \"DEPOSIT.SHORT\",\n    \"commitment\": {\n      \"amount\": \"150000\",\n      \"updateLimit\": \"\",\n      \"term\": \"1Y\",\n      \"changeAmount\": \"\",\n      \"revolving\": \"\"\n    },\n    \"currency\": \"USD\",\n    \"tradeDate\": \"\",\n    \"partyRoles\": [{\"partyRole\": \"OWNER\"}],\n    \"arrangementEffectiveDate\": \"20190417\",\n    \"settlement\": {\n      \"payout\": [{\n        \"payoutSettlementActivity\": \"\",\n        \"property\": [{\n          \"payoutAmount\": \"\",\n          \"payoutPropertyClass\": \"\",\n          \"payoutProperty\": \"\",\n          \"payoutActivity\": \"\",\n          \"payoutPOProduct\": \"\",\n          \"payoutAccount\": \"\",\n          \"payoutPercentage\": \"\",\n          \"payoutBeneficiary\": \"\"\n        }],\n        \"payoutSettlement\": \"\"\n      }],\n      \"defaultSettlementAccount\": \"\",\n      \"settlement\": [{\n        \"reference\": [{\n          \"payinPercentage\": \"\",\n          \"payoutAmount\": \"\",\n          \"payinAccount\": \"\",\n          \"payinAmount\": \"\",\n          \"payoutAccount\": \"\",\n          \"payoutPercentage\": \"\",\n          \"payinBeneficiary\": \"\",\n          \"payoutBeneficiary\": \"\",\n          \"ddMandateReference\": \"\"\n        }],\n        \"payinSettlement\": \"\",\n        \"payoutSettlement\": \"\"\n      }],\n      \"paymentType\": \"\"\n    }\n  }\n}"
    },
    "ShortTermDepositBody" : {
      "type" : "object",
      "properties" : {
        "partyIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyId" : {
                "type" : "string",
                "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "partyRoles" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyRole" : {
                "type" : "string",
                "description" : "Indicates the role of a customer or party, Eg: Benefial Owner, Nominee etc",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "agentCustomerIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentCustomerId" : {
                "type" : "string",
                "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "agentArrangementIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentArrangementId" : {
                "type" : "string",
                "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "agentRoles" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentRole" : {
                "type" : "string",
                "description" : "The role of the 3rd party, select from standard list",
                "minLength" : 0,
                "maxLength" : 45
              }
            }
          }
        },
        "arrangmentId" : {
          "type" : "string",
          "minLength" : 0,
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 45
        },
        "currency" : {
          "type" : "string",
          "description" : "Contains all details of each individual currency, for example, currency name, number of decimal places together with other information such as the buy and sell rates",
          "minLength" : 0,
          "maxLength" : 45
        },
        "productVariation" : {
          "type" : "string",
          "description" : "It defines the type of a customer based on criteria defined by Bank, Eg: Gold Customer, Mobile Banking Customer",
          "minLength" : 0,
          "maxLength" : 45
        },
        "pricingSelection" : {
          "type" : "string",
          "description" : "If the account has an associated pricing arrangement, the way the pricing is applied is indicated from standard set of values - automatic, manual or No Pricing.",
          "minLength" : 0,
          "maxLength" : 45
        },
        "pricingPlan" : {
          "type" : "string",
          "description" : "Indicates the Pricing Plan of an account, it gives preferential interest rate/charge schedule based on customer segment",
          "minLength" : 0,
          "maxLength" : 45
        },
        "rewardsArrangementId" : {
          "type" : "string",
          "description" : "Indicates the Rewards account id assigned to a financial account(Loans,Deposits)",
          "minLength" : 0,
          "maxLength" : 45
        },
        "tradeDate" : {
          "type" : "string",
          "description" : "Standard date field which records trade date of the account",
          "minLength" : 0,
          "maxLength" : 45
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "description" : "It is a date on/upon which an account is considered to take effect",
          "minLength" : 0,
          "maxLength" : 45
        },
        "reason" : {
          "type" : "string",
          "description" : "Contains the reason for performing the current activity",
          "minLength" : 0,
          "maxLength" : 45
        },
        "settlement" : {
          "type" : "object",
          "properties" : {
            "settlement" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payinSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 15
                  },
                  "payoutSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 16
                  },
                  "reference" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ddMandateReference" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 18
                        },
                        "payinAccount" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 12
                        },
                        "payinBeneficiary" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payinPoProduct" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payinPercentage" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 15
                        },
                        "payinAmount" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 11
                        },
                        "payoutAccount" : {
                          "type" : "string",
                          "description" : "The account to which a settlement amount is transferred.",
                          "minLength" : 0,
                          "maxLength" : 13
                        },
                        "payoutBeneficiary" : {
                          "type" : "string",
                          "description" : "The beneficiary that payment should be made to .",
                          "minLength" : 0,
                          "maxLength" : 17
                        },
                        "payoutPoProduct" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payoutPercentage" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payoutAmount" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 12
                        }
                      }
                    }
                  }
                }
              }
            },
            "assocSettlement" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payinSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 15
                  },
                  "payinRule" : {
                    "type" : "string",
                    "minLength" : 0,
                    "maxLength" : 9
                  },
                  "payinSettlementActivity" : {
                    "type" : "string",
                    "minLength" : 0,
                    "maxLength" : 23
                  },
                  "payinRCType" : {
                    "type" : "string",
                    "minLength" : 0,
                    "maxLength" : 11
                  },
                  "payinRCCondition" : {
                    "type" : "string",
                    "minLength" : 0,
                    "maxLength" : 16
                  },
                  "reference" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ddMandateReference" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 18
                        },
                        "payinAccount" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 12
                        },
                        "payinBeneficiary" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payinPOProduct" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 14
                        },
                        "payinPercentage" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 15
                        },
                        "payinAmount" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 11
                        },
                        "payinActivity" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 13
                        }
                      }
                    }
                  }
                }
              }
            },
            "payout" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payoutSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "minLength" : 0,
                    "maxLength" : 16
                  },
                  "payoutSettlementActivity" : {
                    "type" : "string",
                    "minLength" : 0,
                    "maxLength" : 24
                  },
                  "property" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "payoutPropertyClass" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 19
                        },
                        "payoutProperty" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 14
                        },
                        "payoutAccount" : {
                          "type" : "string",
                          "description" : "The account to which a settlement amount is transferred.",
                          "minLength" : 0,
                          "maxLength" : 13
                        },
                        "payoutBeneficiary" : {
                          "type" : "string",
                          "description" : "The beneficiary that payment should be made to .",
                          "minLength" : 0,
                          "maxLength" : 17
                        },
                        "payoutPOProduct" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 15
                        },
                        "payoutPercentage" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 16
                        },
                        "payoutAmount" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 12
                        },
                        "payoutActivity" : {
                          "type" : "string",
                          "minLength" : 0,
                          "maxLength" : 14
                        }
                      }
                    }
                  }
                }
              }
            },
            "paymentType" : {
              "type" : "string",
              "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
              "minLength" : 0,
              "maxLength" : 11
            },
            "defaultSettlementAccount" : {
              "type" : "string",
              "description" : "Default settlement account to be used for all incoming payments and outgoing settlements when a specific settlement account is not provided for each payment type.",
              "minLength" : 0,
              "maxLength" : 26
            }
          }
        },
        "commitment" : {
          "type" : "object",
          "properties" : {
            "amount" : {
              "type" : "string",
              "description" : "This is the payment amount",
              "minLength" : 0,
              "maxLength" : 6
            },
            "changeAmount" : {
              "type" : "string",
              "description" : "Indicates the amount by which the original commitment amount increased or decreased.",
              "minLength" : 0,
              "maxLength" : 12
            },
            "term" : {
              "type" : "string",
              "description" : "Indicates the term for which the contract is booked",
              "minLength" : 0,
              "maxLength" : 4
            },
            "revolving" : {
              "type" : "string",
              "description" : "Indicates if commitment is revolving or non revolving in nature",
              "minLength" : 0,
              "maxLength" : 9,
              "enum" : [ "NO", "PAYMENT", "PREPAYMENT" ]
            },
            "updateLimit" : {
              "type" : "string",
              "description" : "Flag to define if the limits are to be booked or not at the time of issuing the pre-advice LC. Allowed values: - YES - NO (same as null) - null (default).",
              "minLength" : 0,
              "maxLength" : 16,
              "enum" : [ "YES", "NO" ]
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ShortTermDepositResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ShortTermDepositResponseBody"
        }
      },
      "description" : "ShortTermDepositResponse"
    },
    "ShortTermDepositResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "partyIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyId" : {
                    "type" : "string",
                    "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "partyRoles" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyRole" : {
                    "type" : "string",
                    "description" : "Indicates the role of a customer or party, Eg: Benefial Owner, Nominee etc",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentCustomerIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentCustomerId" : {
                    "type" : "string",
                    "description" : "The id of the 3rd party who sold the product on behalf of the institution.",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentArrangementIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentArrangementId" : {
                    "type" : "string",
                    "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "agentRoles" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentRole" : {
                    "type" : "string",
                    "description" : "The role of the 3rd party, select from standard list",
                    "minLength" : 0,
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangmentId" : {
              "type" : "string",
              "minLength" : 0,
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 45
            },
            "currency" : {
              "type" : "string",
              "description" : "Contains all details of each individual currency, for example, currency name, number of decimal places together with other information such as the buy and sell rates",
              "minLength" : 0,
              "maxLength" : 45
            },
            "productVariation" : {
              "type" : "string",
              "description" : "It defines the type of a customer based on criteria defined by Bank, Eg: Gold Customer, Mobile Banking Customer",
              "minLength" : 0,
              "maxLength" : 45
            },
            "pricingSelection" : {
              "type" : "string",
              "description" : "If the account has an associated pricing arrangement, the way the pricing is applied is indicated from standard set of values - automatic, manual or No Pricing.",
              "minLength" : 0,
              "maxLength" : 45
            },
            "pricingPlan" : {
              "type" : "string",
              "description" : "Indicates the Pricing Plan of an account, it gives preferential interest rate/charge schedule based on customer segment",
              "minLength" : 0,
              "maxLength" : 45
            },
            "rewardsArrangementId" : {
              "type" : "string",
              "description" : "Indicates the Rewards account id assigned to a financial account(Loans,Deposits)",
              "minLength" : 0,
              "maxLength" : 45
            },
            "tradeDate" : {
              "type" : "string",
              "description" : "Standard date field which records trade date of the account",
              "minLength" : 0,
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "description" : "It is a date on/upon which an account is considered to take effect",
              "minLength" : 0,
              "maxLength" : 45
            },
            "reason" : {
              "type" : "string",
              "description" : "Contains the reason for performing the current activity",
              "minLength" : 0,
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string",
                  "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "account" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "activityCharges" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "messaging" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "arrangementRules" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "productQualifierRules" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "agentCommission" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "rewardsPoints" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "alerts" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "balanceMaintenance" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "adminfees" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "redemptionfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "withdrawalfees" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "insurance" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "bonus" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "dormancyfees" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "mgmtfees" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "dorcloseadvfee" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "closure" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "customer" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "depositint" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "officers" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "prDeposit" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "prCurrentBalances" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "schedule" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "poEarlyWithdrawal" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "poWithdrawal" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "periodiccharge" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "prefpricing" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "deppricing" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "renewal" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "reporting" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                }
              }
            },
            "settlement" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "audit" : {
                      "type" : "object"
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "settlement" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payinSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "minLength" : 0,
                            "maxLength" : 15
                          },
                          "payoutSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "minLength" : 0,
                            "maxLength" : 16
                          },
                          "reference" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "ddMandateReference" : {
                                  "type" : "string",
                                  "minLength" : 0,
                                  "maxLength" : 18
                                },
                                "payinAccount" : {
                                  "type" : "string",
                                  "minLength" : 0,
                                  "maxLength" : 12
                                },
                                "payinBeneficiary" : {
                                  "type" : "string",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payinPoProduct" : {
                                  "type" : "string",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payinPercentage" : {
                                  "type" : "string",
                                  "minLength" : 0,
                                  "maxLength" : 15
                                },
                                "payinAmount" : {
                                  "type" : "string",
                                  "minLength" : 0,
                                  "maxLength" : 11
                                },
                                "payoutAccount" : {
                                  "type" : "string",
                                  "description" : "The account to which a settlement amount is transferred.",
                                  "minLength" : 0,
                                  "maxLength" : 13
                                },
                                "payoutBeneficiary" : {
                                  "type" : "string",
                                  "description" : "The beneficiary that payment should be made to .",
                                  "minLength" : 0,
                                  "maxLength" : 17
                                },
                                "payoutPoProduct" : {
                                  "type" : "string",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payoutPercentage" : {
                                  "type" : "string",
                                  "minLength" : 0,
                                  "maxLength" : 16
                                },
                                "payoutAmount" : {
                                  "type" : "string",
                                  "minLength" : 0,
                                  "maxLength" : 12
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "assocSettlement" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
[...]
