{
  "swagger" : "2.0",
  "info" : {
    "description" : "Get Holdings Transactions Details",
    "version" : "v1.0.0",
    "title" : "Holdings Transactions APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/transactions/{transactionId}" : {
      "get" : {
        "operationId" : "getTransactionDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionId",
          "in" : "path",
          "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
          "required" : true,
          "type" : "string",
          "x-example" : "2147483647"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "TransactionDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/TransactionDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/transactions/{transactionReference}/transactions" : {
      "get" : {
        "operationId" : "getStatementForTransaction",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionReference",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "x-example" : "79707"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "StatementForTransactionResponse",
            "schema" : {
              "$ref" : "#/definitions/StatementForTransactionResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/transactions" : {
      "get" : {
        "operationId" : "getAccountTransactions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "query",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "listType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionCount",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "payType",
          "in" : "query",
          "description" : "Indicates the identifier of payment types for  letter of credit.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateFrom",
          "in" : "query",
          "description" : "Start date of the loan",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "dateTo",
          "in" : "query",
          "description" : "End date of the loan",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "minimumAmount",
          "in" : "query",
          "description" : "The minimum account balance required.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maximumAmount",
          "in" : "query",
          "description" : "The maximum account balance allowed.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "displayName",
          "in" : "query",
          "description" : "Contains the name used for display or enrichment purposes",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "transactionCode",
          "in" : "query",
          "description" : "Identifies the system internal transaction code applicable to the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "statementReference",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "AccountTransactionsResponse",
            "schema" : {
              "$ref" : "#/definitions/AccountTransactionsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "TransactionDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/TransactionDetailsResponseBody"
        }
      },
      "description" : "TransactionDetailsResponse"
    },
    "TransactionDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "debits" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "debitCurrencyId" : {
                  "type" : "string",
                  "description" : "The currency of the debit side in payment transaction. "
                },
                "debitAmount" : {
                  "type" : "string",
                  "description" : "Amount to be debited in a payment transaction"
                },
                "debitValueDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Date on which the amount will be debited for settlement"
                },
                "debitAccountId" : {
                  "type" : "string",
                  "description" : "Indicates the debit account number of the payment or transaction."
                },
                "debitAccountIBAN" : {
                  "type" : "string",
                  "description" : "International Bank Account Number (IBAN) of the debtor account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189"
                }
              }
            }
          },
          "credits" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "creditCurrencyId" : {
                  "type" : "string",
                  "description" : "Specifies the credit currency. For example: USD, EUR etc."
                },
                "creditAmount" : {
                  "type" : "string",
                  "description" : "Amount to be credited in a payment transaction"
                },
                "creditValueDate" : {
                  "type" : "string",
                  "format" : "date",
                  "description" : "Reference quoted by the credit account for a payment"
                },
                "creditAccountId" : {
                  "type" : "string",
                  "description" : "Credit account identifier of the payment or transaction"
                },
                "creditAccountIBAN" : {
                  "type" : "string",
                  "description" : "Indicates the IBAN of the credit account"
                }
              }
            }
          },
          "beneficiaries" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "beneficiaryIBAN" : {
                  "type" : "string",
                  "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189"
                },
                "beneficiaryAccountId" : {
                  "type" : "string",
                  "description" : "Unique account identifier of the beneficiary account number."
                },
                "beneficiaryCustomerId" : {
                  "type" : "string",
                  "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank."
                },
                "beneficiaryBankName" : {
                  "type" : "string"
                }
              }
            }
          },
          "statementReference" : {
            "type" : "string"
          },
          "bookingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Business date on which the accounting entry was generated."
          },
          "narrative" : {
            "type" : "string",
            "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
          },
          "exposureDate" : {
            "type" : "string",
            "format" : "date"
          },
          "valueDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Indicates the value date on which the underlying accounting entry is to be given value (for interest purposes)"
          },
          "transactionReference" : {
            "type" : "string"
          },
          "transactionName" : {
            "type" : "string",
            "description" : "The transaction description"
          },
          "baseCurrencyId" : {
            "type" : "string"
          },
          "chargeType" : {
            "type" : "string",
            "description" : "Indicates the charge types which are applicable for the transaction. Example: CORRBKCHG"
          },
          "chargeAmount" : {
            "type" : "string",
            "description" : "Retrieves the Charge Amount after redeem"
          },
          "authorisationDate" : {
            "type" : "string",
            "format" : "date"
          },
          "processingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The date when payment instruction is processed in system."
          },
          "chequeNumber" : {
            "type" : "string",
            "description" : "Cheque number associated with the transaction or accounting entry."
          },
          "chequeDrawn" : {
            "type" : "string"
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "customerRate" : {
            "type" : "string",
            "description" : "The exchange rate that is actually applied for currency conversion in case of transactions involving FX conversion. "
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "StatementForTransactionResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/StatementForTransactionResponseBody"
        }
      },
      "description" : "StatementForTransactionResponse"
    },
    "StatementForTransactionResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "images" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "imageDocId" : {
                  "type" : "string",
                  "maxLength" : 11
                },
                "imageId" : {
                  "type" : "string",
                  "description" : "A system generated unique identifier for the image record",
                  "maxLength" : 11
                },
                "imageType" : {
                  "type" : "string",
                  "description" : "Indicates the internal classification of images - such as Photographs, Documents, Passports, etc..,",
                  "maxLength" : 11
                }
              }
            }
          },
          "statementId" : {
            "type" : "string",
            "maxLength" : 11
          },
          "bookingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Business date on which the accounting entry was generated."
          },
          "narrative" : {
            "type" : "string",
            "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
            "maxLength" : 11
          },
          "statementAmount" : {
            "type" : "number"
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency.",
            "maxLength" : 11
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
            "maxLength" : 11
          },
          "accountName" : {
            "type" : "string",
            "description" : "Display name or short name of the account specified.",
            "maxLength" : 11
          },
          "companyId" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 11
          },
          "notes" : {
            "type" : "string",
            "description" : "Notes to facilitate the use of the function",
            "maxLength" : 11
          },
          "transactionId" : {
            "type" : "string",
            "description" : "Unique transaction identifier for retrieving the details of the transaction. For example: FT0102030333 etc.",
            "maxLength" : 11
          }
        }
      }
    },
    "AccountTransactionsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AccountTransactionsResponseBody"
        }
      },
      "description" : "AccountTransactionsResponse"
    },
    "AccountTransactionsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "statementId" : {
            "type" : "string"
          },
          "bookingDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "Business date on which the accounting entry was generated."
          },
          "narrative" : {
            "type" : "string",
            "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
          },
          "accountId" : {
            "type" : "string",
            "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
          },
          "statementAmount" : {
            "type" : "number"
          },
          "currencyId" : {
            "type" : "string",
            "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
          },
          "accountName" : {
            "type" : "string",
            "description" : "Display name or short name of the account specified."
          },
          "companyId" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch."
          },
          "imageDocId" : {
            "type" : "string"
          },
          "notes" : {
            "type" : "string",
            "description" : "Notes to facilitate the use of the function"
          },
          "imageId" : {
            "type" : "string",
            "description" : "A system generated unique identifier for the image record"
          },
          "statementBalance" : {
            "type" : "number"
          },
          "transactionReference" : {
            "type" : "string"
          }
        }
      }
    }
  }
}