{
  "swagger" : "2.0",
  "info" : {
    "description" : "Maintenance Sweeps of Cash Pool Transfer Service",
    "version" : "v1.0.0",
    "title" : "Order Cash Pool Transfer Services"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/cashManagement/sweeps/{accountId}/maintainBalances" : {
      "post" : {
        "description" : "Initiate Transfer Services",
        "operationId" : "createMaintainBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MaintainBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "put" : {
        "description" : "Edit / Amend Transfer Services",
        "operationId" : "updateMaintainBalanceSweeps",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MaintainBalanceSweeps"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "MaintainBalanceSweepsResponse",
            "schema" : {
              "$ref" : "#/definitions/MaintainBalanceSweepsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "MaintainBalanceSweeps" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MaintainBalanceSweepsBody"
        }
      },
      "description" : "MaintainBalanceSweeps"
    },
    "MaintainBalanceSweepsBody" : {
      "type" : "object",
      "properties" : {
        "sweepRelationshipDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "linkAccount" : {
                "type" : "string",
                "description" : "The account which with the source account (the cash pool key) has the sweep relationship.Depending on the rule entered , the link  will either debit or credit the source account."
              },
              "rule" : {
                "type" : "string",
                "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance."
              },
              "frequency" : {
                "type" : "string",
                "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction."
              },
              "minimumBalance" : {
                "type" : "number",
                "description" : "The minimum account balance required"
              },
              "maximumBalance" : {
                "type" : "number",
                "description" : "The maximum account balance allowed"
              },
              "minimumDebitsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount. The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place."
              },
              "minimumCreditsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount.The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place."
              },
              "schedule" : {
                "type" : "string",
                "description" : "Indicates where this pool may be run either online or End of the day."
              }
            }
          }
        },
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
              }
            }
          }
        },
        "groupId" : {
          "type" : "string",
          "description" : "Unique ID of the group"
        },
        "mainAccount" : {
          "type" : "string",
          "description" : "The Account that is defined as the Main Master on AC.CP.GROUP.PARAM. This will be defaulted by the system on entering the GROUP.ID and is not user accessible."
        },
        "sequenceNumber" : {
          "type" : "number",
          "description" : " The sequence in which this cash pool record will be processed within the group. "
        },
        "sweepCancelDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the end date for the sweep record. The record will become inactive after this date, which means that no sweep will be executed after this date."
        },
        "suspensionStartDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspensionEndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspendIndefinite" : {
          "type" : "string",
          "description" : "To suspending the cashpool for indefinite period."
        },
        "counterBookingSweepAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the ID Account.This Account is used by the system to raise an equal and opposite entry posted against ID Account."
        },
        "counterBookingLinkAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the Link Account. This Account is used by the system to raise an equal and opposite entry posted against Link Account."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "MaintainBalanceSweepsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/MaintainBalanceSweepsResponseBody"
        }
      },
      "description" : "MaintainBalanceSweepsResponse"
    },
    "MaintainBalanceSweepsResponseBody" : {
      "type" : "object",
      "properties" : {
        "sweepRelationshipDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "linkAccount" : {
                "type" : "string",
                "description" : "The account which with the source account (the cash pool key) has the sweep relationship.Depending on the rule entered , the link  will either debit or credit the source account."
              },
              "rule" : {
                "type" : "string",
                "description" : "A rule is assigned to a product and the rule determines whether a customer can buy that product or hold it after changes in circumstance."
              },
              "frequency" : {
                "type" : "string",
                "description" : "Specifies the frequency in which the payment application(periodic payments) execute the payment instruction."
              },
              "minimumBalance" : {
                "type" : "number",
                "description" : "The minimum account balance required"
              },
              "maximumBalance" : {
                "type" : "number",
                "description" : "The maximum account balance allowed"
              },
              "minimumDebitsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount. The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place."
              },
              "minimumCreditsToTransfer" : {
                "type" : "number",
                "description" : "Used to restrict the creation of sweep amount for a small amount.The amount entered here will get validated against the sweep amount and only when the sweep amount is greater than this, sweep takes place."
              },
              "schedule" : {
                "type" : "string",
                "description" : "Indicates where this pool may be run either online or End of the day."
              }
            }
          }
        },
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "type" : "object",
            "properties" : {
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
              }
            }
          }
        },
        "groupId" : {
          "type" : "string",
          "description" : "Unique ID of the group"
        },
        "mainAccount" : {
          "type" : "string",
          "description" : "The Account that is defined as the Main Master on AC.CP.GROUP.PARAM. This will be defaulted by the system on entering the GROUP.ID and is not user accessible."
        },
        "sequenceNumber" : {
          "type" : "number",
          "description" : " The sequence in which this cash pool record will be processed within the group. "
        },
        "sweepCancelDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the end date for the sweep record. The record will become inactive after this date, which means that no sweep will be executed after this date."
        },
        "suspensionStartDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspensionEndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Holds the start date for suspending the sweep. No sweep will be done between this date and the date defined in SUSP.END.DATE."
        },
        "suspendIndefinite" : {
          "type" : "string",
          "description" : "To suspending the cashpool for indefinite period."
        },
        "counterBookingSweepAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the ID Account.This Account is used by the system to raise an equal and opposite entry posted against ID Account."
        },
        "counterBookingLinkAccount" : {
          "type" : "string",
          "description" : "Counter Booking Account for the Link Account. This Account is used by the system to raise an equal and opposite entry posted against Link Account."
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}