{
  "swagger" : "2.0",
  "info" : {
    "description" : "Update Settlement instructions to an Account",
    "version" : "v1.0.0",
    "title" : "Update Settlement instructions to an Account"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/cashManagement/bundles/updateSettlement" : {
      "put" : {
        "summary" : "Update Settlement instructions to an Account",
        "description" : "Update Settlement instructions to an Account",
        "operationId" : "updateBundleSettlementAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BundleSettlementAccount"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "updateBundleSettlementAccountResponse",
            "schema" : {
              "$ref" : "#/definitions/BundleSettlementAccountResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "BundleSettlementAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleSettlementAccountBody"
        }
      },
      "description" : "BundleSettlementAccount",
      "example" : "{\n  \"header\": {\n    \"audit\": {\"versionNumber\": \"\"},\n    \"override\": {\"overrideDetails\": [{\n      \"description\": \"Default Settlement Account not specified. Charges will not be processed.\",\n      \"id\": \"AA-DEF.SETTLE.ACCOUNT.MAND\",\n      \"type\": \"Override\",\n      \"responseCode\": \"RECEIVED\"\n    }]}\n  },\n  \"body\": {\n    \"partyIds\": [{\"partyId\": \"\"}],\n    \"activityId\": \"BUNDLE-UPDATE-SETTLEMENT\",\n    \"arrangmentId\": \"AA19085F2HQB\",\n    \"productId\": \"MASTER.ACCOUNT\",\n    \"arrangementEffectiveDate\": \"\",\n    \"settlement\": {\"settlement\": [{\n      \"reference\": [{\n        \"payinPercentage\": \"\",\n        \"payoutAmount\": \"\",\n        \"payinAccount\": \"\",\n        \"payinAmount\": \"\",\n        \"payoutAccount\": \"\",\n        \"payoutPercentage\": \"\",\n        \"payinBeneficiary\": \"\",\n        \"payoutBeneficiary\": \"\",\n        \"ddMandateReference\": \"\"\n      }],\n      \"payinSettlement\": \"\",\n      \"payoutSettlement\": \"\"\n    }]}\n  }\n}"
    },
    "BundleSettlementAccountBody" : {
      "type" : "object",
      "properties" : {
        "partyIds" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyId" : {
                "type" : "string",
                "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                "maxLength" : 45
              }
            }
          }
        },
        "arrangmentId" : {
          "type" : "string",
          "maxLength" : 45
        },
        "arrangementEffectiveDate" : {
          "type" : "string",
          "description" : "It is a date on/upon which an account is considered to take effect",
          "maxLength" : 45
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "maxLength" : 45
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "maxLength" : 45
        },
        "settlement" : {
          "type" : "object",
          "properties" : {
            "settlement" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payinSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "maxLength" : 15
                  },
                  "payoutSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "maxLength" : 16
                  },
                  "reference" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ddMandateReference" : {
                          "type" : "string",
                          "maxLength" : 18
                        },
                        "payinAccount" : {
                          "type" : "string",
                          "maxLength" : 12
                        },
                        "payinBeneficiary" : {
                          "type" : "string",
                          "maxLength" : 16
                        },
                        "payinPercentage" : {
                          "type" : "string",
                          "maxLength" : 15
                        },
                        "payinAmount" : {
                          "type" : "string",
                          "maxLength" : 11
                        },
                        "payoutAccount" : {
                          "type" : "string",
                          "description" : "The account to which a settlement amount is transferred.",
                          "maxLength" : 13
                        },
                        "payoutBeneficiary" : {
                          "type" : "string",
                          "description" : "The beneficiary that payment should be made to .",
                          "maxLength" : 17
                        },
                        "payoutPercentage" : {
                          "type" : "string",
                          "maxLength" : 16
                        },
                        "payoutAmount" : {
                          "type" : "string",
                          "maxLength" : 12
                        }
                      }
                    }
                  }
                }
              }
            },
            "assocSettlement" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payinSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "maxLength" : 15
                  },
                  "payinRule" : {
                    "type" : "string",
                    "maxLength" : 9
                  },
                  "payinSettlementActivity" : {
                    "type" : "string",
                    "maxLength" : 23
                  },
                  "payinRCType" : {
                    "type" : "string",
                    "maxLength" : 11
                  },
                  "payinRCCondition" : {
                    "type" : "string",
                    "maxLength" : 16
                  },
                  "reference" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "ddMandateReference" : {
                          "type" : "string",
                          "maxLength" : 18
                        },
                        "payinAccount" : {
                          "type" : "string",
                          "maxLength" : 12
                        },
                        "payinBeneficiary" : {
                          "type" : "string",
                          "maxLength" : 16
                        },
                        "payinPOProduct" : {
                          "type" : "string",
                          "maxLength" : 14
                        },
                        "payinPercentage" : {
                          "type" : "string",
                          "maxLength" : 15
                        },
                        "payinAmount" : {
                          "type" : "string",
                          "maxLength" : 11
                        },
                        "payinActivity" : {
                          "type" : "string",
                          "maxLength" : 13
                        }
                      }
                    }
                  }
                }
              }
            },
            "payout" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "payoutSettlement" : {
                    "type" : "string",
                    "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                    "maxLength" : 16
                  },
                  "payoutSettlementActivity" : {
                    "type" : "string",
                    "maxLength" : 24
                  },
                  "property" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "payoutPropertyClass" : {
                          "type" : "string",
                          "maxLength" : 19
                        },
                        "payoutProperty" : {
                          "type" : "string",
                          "maxLength" : 14
                        },
                        "payoutAccount" : {
                          "type" : "string",
                          "description" : "The account to which a settlement amount is transferred.",
                          "maxLength" : 13
                        },
                        "payoutBeneficiary" : {
                          "type" : "string",
                          "description" : "The beneficiary that payment should be made to .",
                          "maxLength" : 17
                        },
                        "payoutPOProduct" : {
                          "type" : "string",
                          "maxLength" : 15
                        },
                        "payoutPercentage" : {
                          "type" : "string",
                          "maxLength" : 16
                        },
                        "payoutAmount" : {
                          "type" : "string",
                          "maxLength" : 12
                        },
                        "payoutActivity" : {
                          "type" : "string",
                          "maxLength" : 14
                        }
                      }
                    }
                  }
                }
              }
            },
            "paymentType" : {
              "type" : "string",
              "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
              "maxLength" : 11
            },
            "defaultSettlementAccount" : {
              "type" : "string",
              "description" : "Default settlement account to be used for all incoming payments and outgoing settlements when a specific settlement account is not provided for each payment type.",
              "maxLength" : 26
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "BundleSettlementAccountResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleSettlementAccountResponseBody"
        }
      },
      "description" : "BundleSettlementAccountResponse"
    },
    "BundleSettlementAccountResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "partyIds" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyId" : {
                    "type" : "string",
                    "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "maxLength" : 45
                  }
                }
              }
            },
            "arrangmentId" : {
              "type" : "string",
              "maxLength" : 45
            },
            "arrangementEffectiveDate" : {
              "type" : "string",
              "description" : "It is a date on/upon which an account is considered to take effect",
              "maxLength" : 45
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "maxLength" : 45
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "maxLength" : 45
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string",
                  "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity."
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "settlement" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by T24"
                        },
                        "requestParse_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "settlement" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payinSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "maxLength" : 15
                          },
                          "payoutSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "maxLength" : 16
                          },
                          "reference" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "ddMandateReference" : {
                                  "type" : "string",
                                  "maxLength" : 18
                                },
                                "payinAccount" : {
                                  "type" : "string",
                                  "maxLength" : 12
                                },
                                "payinBeneficiary" : {
                                  "type" : "string",
                                  "maxLength" : 16
                                },
                                "payinPercentage" : {
                                  "type" : "string",
                                  "maxLength" : 15
                                },
                                "payinAmount" : {
                                  "type" : "string",
                                  "maxLength" : 11
                                },
                                "payoutAccount" : {
                                  "type" : "string",
                                  "description" : "The account to which a settlement amount is transferred.",
                                  "maxLength" : 13
                                },
                                "payoutBeneficiary" : {
                                  "type" : "string",
                                  "description" : "The beneficiary that payment should be made to .",
                                  "maxLength" : 17
                                },
                                "payoutPercentage" : {
                                  "type" : "string",
                                  "maxLength" : 16
                                },
                                "payoutAmount" : {
                                  "type" : "string",
                                  "maxLength" : 12
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "assocSettlement" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payinSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payin Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "maxLength" : 15
                          },
                          "payinRule" : {
                            "type" : "string",
                            "maxLength" : 9
                          },
                          "payinSettlementActivity" : {
                            "type" : "string",
                            "maxLength" : 23
                          },
                          "payinRCType" : {
                            "type" : "string",
                            "maxLength" : 11
                          },
                          "payinRCCondition" : {
                            "type" : "string",
                            "maxLength" : 16
                          },
                          "reference" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "ddMandateReference" : {
                                  "type" : "string",
                                  "maxLength" : 18
                                },
                                "payinAccount" : {
                                  "type" : "string",
                                  "maxLength" : 12
                                },
                                "payinBeneficiary" : {
                                  "type" : "string",
                                  "maxLength" : 16
                                },
                                "payinPOProduct" : {
                                  "type" : "string",
                                  "maxLength" : 14
                                },
                                "payinPercentage" : {
                                  "type" : "string",
                                  "maxLength" : 15
                                },
                                "payinAmount" : {
                                  "type" : "string",
                                  "maxLength" : 11
                                },
                                "payinActivity" : {
                                  "type" : "string",
                                  "maxLength" : 13
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "payout" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "payoutSettlement" : {
                            "type" : "string",
                            "description" : "Flag to indicate whether Payout Settlement instruction is required or not.Valid input is Yes or No.Default value is Yes.",
                            "maxLength" : 16
                          },
                          "payoutSettlementActivity" : {
                            "type" : "string",
                            "maxLength" : 24
                          },
                          "property" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "payoutPropertyClass" : {
                                  "type" : "string",
                                  "maxLength" : 19
                                },
                                "payoutProperty" : {
                                  "type" : "string",
                                  "maxLength" : 14
                                },
                                "payoutAccount" : {
                                  "type" : "string",
                                  "description" : "The account to which a settlement amount is transferred.",
                                  "maxLength" : 13
                                },
                                "payoutBeneficiary" : {
                                  "type" : "string",
                                  "description" : "The beneficiary that payment should be made to .",
                                  "maxLength" : 17
                                },
                                "payoutPOProduct" : {
                                  "type" : "string",
                                  "maxLength" : 15
                                },
                                "payoutPercentage" : {
                                  "type" : "string",
                                  "maxLength" : 16
                                },
                                "payoutAmount" : {
                                  "type" : "string",
                                  "maxLength" : 12
                                },
                                "payoutActivity" : {
                                  "type" : "string",
                                  "maxLength" : 14
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paymentType" : {
                      "type" : "string",
                      "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
                      "maxLength" : 11
                    },
                    "defaultSettlementAccount" : {
                      "type" : "string",
                      "description" : "Default settlement account to be used for all incoming payments and outgoing settlements when a specific settlement account is not provided for each payment type.",
                      "maxLength" : 26
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "The corresponding property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "updateBundleSettlementAccount" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/BundleSettlementAccountBody"
        }
      },
      "description" : "BundleSettlementAccount",
      "example" : "{\n  \"header\": {\n    \"audit\": {\"versionNumber\": \"\"},\n    \"override\": {\"overrideDetails\": [{\n      \"description\": \"Default Settlement Account not specified. Charges will not be processed.\",\n      \"id\": \"AA-DEF.SETTLE.ACCOUNT.MAND\",\n      \"type\": \"Override\",\n      \"responseCode\": \"RECEIVED\"\n    }]}\n  },\n  \"body\": {\n    \"partyIds\": [{\"partyId\": \"\"}],\n    \"activityId\": \"BUNDLE-UPDATE-SETTLEMENT\",\n    \"arrangmentId\": \"AA19085F2HQB\",\n    \"productId\": \"MASTER.ACCOUNT\",\n    \"arrangementEffectiveDate\": \"\",\n    \"settlement\": {\"settlement\": [{\n      \"reference\": [{\n        \"payinPercentage\": \"\",\n        \"payoutAmount\": \"\",\n        \"payinAccount\": \"\",\n        \"payinAmount\": \"\",\n        \"payoutAccount\": \"\",\n        \"payoutPercentage\": \"\",\n        \"payinBeneficiary\": \"\",\n        \"payoutBeneficiary\": \"\",\n        \"ddMandateReference\": \"\"\n      }],\n      \"payinSettlement\": \"\",\n      \"payoutSettlement\": \"\"\n    }]}\n  }\n}"
    }
  }
}