{
  "swagger" : "2.0",
  "info" : {
    "description" : "Creation and Management of Fund Transfers",
    "version" : "v1.0.0",
    "title" : "Order Transfers APIs"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/transfers" : {
      "post" : {
        "operationId" : "createFundsTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FundsTransfer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FundsTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/FundsTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/transfers/{transferId}" : {
      "put" : {
        "operationId" : "updateFundsTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transferId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FundsTransfer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FundsTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/FundsTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "deleteFundsTransfer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transferId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "FundsTransferResponse",
            "schema" : {
              "$ref" : "#/definitions/FundsTransferResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "FundsTransfer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FundsTransferBody"
        }
      },
      "description" : "FundsTransfer",
      "example" : {
        "header" : { },
        "body" : {
          "transactionType" : "OC",
          "beneficiaryCustomerId" : "100738",
          "debitCurrency" : "USD",
          "creditCurrencyId" : "USD",
          "debitAccountId" : "86053",
          "debitAmount" : "2000",
          "creditAccountId" : "USD1000110000001"
        }
      }
    },
    "FundsTransferBody" : {
      "type" : "object",
      "properties" : {
        "paymentDetails" : {
          "type" : "array",
          "description" : "Identifies the Payment Details to enable the Beneficiary to apply the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment."
              }
            }
          }
        },
        "beneficiaryCustomerIds" : {
          "type" : "array",
          "description" : "The customer identifier where the beneficiary is a customer of the bank",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryCustomerId" : {
                "type" : "string",
                "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank."
              }
            }
          }
        },
        "beneficiaryBICNames" : {
          "type" : "array",
          "description" : "The name displayed of the beneficiary BIC",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryBICName" : {
                "type" : "string",
                "description" : "The name of the beneficiary bank"
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Records the override messages generated during processing of an activity. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction."
        },
        "debitCurrencyId" : {
          "type" : "string",
          "description" : "The currency of the debit side in payment transaction. "
        },
        "debitAmount" : {
          "type" : "number",
          "description" : "Amount to be debited in a payment transaction"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction"
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc."
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction"
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)"
        },
        "processingDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date when payment instruction is processed in system."
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc."
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number."
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "bankSortCode" : {
          "type" : "string",
          "description" : "The sort code or the national clearing code of the beneficiary bank. "
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189"
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer "
        },
        "beneficiaryBICCity" : {
          "type" : "string",
          "description" : "The city associated with beneficiary bank BIC (Bank Identifier Code)"
        },
        "customerRate" : {
          "type" : "string",
          "description" : "The exchange rate that is actually applied for currency conversion in case of transactions involving FX conversion. "
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "FundsTransferResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FundsTransferResponseBody"
        }
      },
      "description" : "FundsTransferResponse"
    },
    "FundsTransferResponseBody" : {
      "type" : "object",
      "properties" : {
        "paymentDetails" : {
          "type" : "array",
          "description" : "Identifies the Payment Details to enable the Beneficiary to apply the payment.",
          "items" : {
            "type" : "object",
            "properties" : {
              "paymentDetail" : {
                "type" : "string",
                "description" : "Indicates the payment details for the beneficiary to apply the payment."
              }
            }
          }
        },
        "beneficiaryCustomerIds" : {
          "type" : "array",
          "description" : "The customer identifier where the beneficiary is a customer of the bank",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryCustomerId" : {
                "type" : "string",
                "description" : "Identifies the Customer who is to be the ultimate receiver of the funds transferred by the sending bank when this Beneficiary is not a bank."
              }
            }
          }
        },
        "beneficiaryBICNames" : {
          "type" : "array",
          "description" : "The name displayed of the beneficiary BIC",
          "items" : {
            "type" : "object",
            "properties" : {
              "beneficiaryBICName" : {
                "type" : "string",
                "description" : "The name of the beneficiary bank"
              }
            }
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "Records the override messages generated during processing of an activity. ",
          "items" : {
            "type" : "object",
            "properties" : {
              "override" : {
                "type" : "string",
                "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
              }
            }
          }
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment or transaction."
        },
        "debitCurrencyId" : {
          "type" : "string",
          "description" : "The currency of the debit side in payment transaction. "
        },
        "debitAmount" : {
          "type" : "number",
          "description" : "Amount to be debited in a payment transaction"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "Credit account identifier of the payment or transaction"
        },
        "creditCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the credit currency. For example: USD, EUR etc."
        },
        "creditAmount" : {
          "type" : "number",
          "description" : "Amount to be credited in a payment transaction"
        },
        "beneficiaryOurCharges" : {
          "type" : "string",
          "description" : "Indicates the bearer of the charges. For example: BEN( All transaction charges are to be borne by the beneficiary customer.), OUR (All transaction charges are to be borne by the ordering customer.), SHA (Transaction charges on the Sender's side are to be borne by the ordering customer, transaction charges on the Receiver's side are to be borne by the beneficiary customer.)"
        },
        "processingDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date when payment instruction is processed in system."
        },
        "transactionType" : {
          "type" : "string",
          "description" : "Identifies the transaction type applicable to the transaction being processed, i.e. outward or inward payment. For example: ACPX, OTPX etc."
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Unique account identifier of the beneficiary account number."
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "bankSortCode" : {
          "type" : "string",
          "description" : "The sort code or the national clearing code of the beneficiary bank. "
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "International Bank Account Number (IBAN) of the beneficiary account, required only for International transfers/payments outside the Bank. For example: GB98 MIDL07009312345678, FR7630006000011234567890189"
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer "
        },
        "beneficiaryBICCity" : {
          "type" : "string",
          "description" : "The city associated with beneficiary bank BIC (Bank Identifier Code)"
        },
        "customerRate" : {
          "type" : "string",
          "description" : "The exchange rate that is actually applied for currency conversion in case of transactions involving FX conversion. "
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "updateFundsTransfer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/FundsTransferBody"
        }
      },
      "description" : "FundsTransfer",
      "example" : {
        "header" : { },
        "body" : {
          "transactionType" : "OC",
          "beneficiaryCustomerId" : "100738",
          "debitCurrency" : "USD",
          "creditCurrencyId" : "USD",
          "debitAccountId" : "86053",
          "debitAmount" : "2000",
          "creditAccountId" : "USD1000110000001"
        }
      }
    }
  }
}