{
  "swagger" : "2.0",
  "info" : {
    "description" : "update Limits",
    "version" : "v1.0.0",
    "title" : "Limts APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/limits/{limitId}" : {
      "put" : {
        "summary" : "Update Limit details for customer",
        "description" : "Updates the limit details for corporate customer",
        "operationId" : "updateLimit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitId",
          "in" : "path",
          "description" : "The identifier of credit limit",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Limit"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "LimitResponse",
            "schema" : {
              "$ref" : "#/definitions/LimitResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "Limit" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LimitBody"
        }
      },
      "description" : "Limit"
    },
    "LimitBody" : {
      "type" : "object",
      "properties" : {
        "countries" : {
          "type" : "array",
          "description" : "The country component of the base address of a customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryId" : {
                "type" : "string",
                "description" : "ISO country code of the financial institution. "
              },
              "countryPercent" : {
                "type" : "number",
                "description" : "Percent of risk associated for that country"
              }
            }
          }
        },
        "grades" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "limitGrade" : {
                "type" : "string",
                "description" : "Specify the grade of the risk"
              },
              "gradePercent" : {
                "type" : "number",
                "description" : "Specify the grade of the risk"
              }
            }
          }
        },
        "commodities" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "commodity" : {
                "type" : "string",
                "description" : "Specify the grade of the risk"
              },
              "commodityPercent" : {
                "type" : "number",
                "description" : "Indicates the percentage involvement in the Commodity (Industry)"
              }
            }
          }
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
        },
        "onlineLimitDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the limit available for use"
        },
        "availableMarker" : {
          "type" : "string",
          "description" : "Whether the limit available for use or not"
        },
        "allowNetting" : {
          "type" : "string",
          "description" : "Whether the customer for this liability can allow netting of both credit and debit accounts"
        },
        "onlineUpdate" : {
          "type" : "string",
          "description" : ""
        },
        "limitProductId" : {
          "type" : "string",
          "description" : "Reserved for future use"
        },
        "checkLimit" : {
          "type" : "string",
          "description" : "Defines whether overrides should appear when default LIMIT records are used or defaulted"
        },
        "band" : {
          "type" : "string",
          "description" : "Limit check update set"
        },
        "reducingLimit" : {
          "type" : "string",
          "description" : "Identifies if the Limit reference defined in the ID is a 'reducing' or 'non-reducing' limit type"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "LimitResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/LimitResponseBody"
        }
      },
      "description" : "LimitResponse"
    },
    "LimitResponseBody" : {
      "type" : "object",
      "properties" : {
        "countries" : {
          "type" : "array",
          "description" : "The country component of the base address of a customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "countryId" : {
                "type" : "string",
                "description" : "ISO country code of the financial institution. "
              },
              "countryPercent" : {
                "type" : "number",
                "description" : "Percent of risk associated for that country"
              }
            }
          }
        },
        "grades" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "limitGrade" : {
                "type" : "string",
                "description" : "Specify the grade of the risk"
              },
              "gradePercent" : {
                "type" : "number",
                "description" : "Specify the grade of the risk"
              }
            }
          }
        },
        "commodities" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "commodity" : {
                "type" : "string",
                "description" : "Specify the grade of the risk"
              },
              "commodityPercent" : {
                "type" : "number",
                "description" : "Indicates the percentage involvement in the Commodity (Industry)"
              }
            }
          }
        },
        "currencyId" : {
          "type" : "string",
          "description" : "Identifier of the currency. This is the 3-letter ISO 4217 code of the currency."
        },
        "onlineLimitDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the limit available for use"
        },
        "availableMarker" : {
          "type" : "string",
          "description" : "Whether the limit available for use or not"
        },
        "allowNetting" : {
          "type" : "string",
          "description" : "Whether the customer for this liability can allow netting of both credit and debit accounts"
        },
        "onlineUpdate" : {
          "type" : "string",
          "description" : ""
        },
        "limitProductId" : {
          "type" : "string",
          "description" : "Reserved for future use"
        },
        "checkLimit" : {
          "type" : "string",
          "description" : "Defines whether overrides should appear when default LIMIT records are used or defaulted"
        },
        "band" : {
          "type" : "string",
          "description" : "Limit check update set"
        },
        "reducingLimit" : {
          "type" : "string",
          "description" : "Identifies if the Limit reference defined in the ID is a 'reducing' or 'non-reducing' limit type"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}