{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create or Update Person Entity",
    "version" : "v1.0.0",
    "title" : "Party Prospect Customers"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/prospects" : {
      "post" : {
        "operationId" : "createProspectCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/partyProspectCustomer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProspectCustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/partyProspectCustomerResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/prospects/{prospectId}" : {
      "put" : {
        "operationId" : "updateProspectCustomer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "prospectId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/partyProspectCustomer"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "query",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ProspectCustomerResponse",
            "schema" : {
              "$ref" : "#/definitions/partyProspectCustomerResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Contains the description of purpose of the payment."
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            }
          }
        }
      }
    },
    "partyProspectCustomer" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/partyProspectCustomerBody"
        }
      },
      "description" : "partyProspectCustomer"
    },
    "partyProspectCustomerBody" : {
      "type" : "object",
      "properties" : {
        "customerNames" : {
          "type" : "array",
          "description" : "Name of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerName" : {
                "type" : "string",
                "description" : "Name of the customer"
              }
            }
          }
        },
        "streets" : {
          "type" : "array",
          "description" : "The first line of the base address of a customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "street" : {
                "type" : "string",
                "description" : "Contains the first line of customer's base address, example building number, street number etc."
              }
            }
          }
        },
        "addresses" : {
          "type" : "array",
          "description" : "Communication Address of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "address" : {
                "type" : "string",
                "description" : "Communication Address of the Customer"
              }
            }
          }
        },
        "townCountries" : {
          "type" : "array",
          "description" : "The town and country associated with the address",
          "items" : {
            "type" : "object",
            "properties" : {
              "townCountry" : {
                "type" : "string",
                "description" : "The town and country associated with the address"
              }
            }
          }
        },
        "postCodes" : {
          "type" : "array",
          "description" : "The postal code of the customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "postCode" : {
                "type" : "string",
                "description" : "Identifies the address postal code for the customer."
              }
            }
          }
        },
        "countries" : {
          "type" : "array",
          "description" : "The country component of the base address of a customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "country" : {
                "type" : "string",
                "description" : "Identifies the country of the customer."
              }
            }
          }
        },
        "phoneNumbers" : {
          "type" : "array",
          "description" : "The phone number of the customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "phoneNumber" : {
                "type" : "string",
                "description" : "The phone number of the customer or prospect"
              }
            }
          }
        },
        "emails" : {
          "type" : "array",
          "description" : "Email Identifier of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "email" : {
                "type" : "string",
                "description" : "Email Identifier of the Customer"
              }
            }
          }
        },
        "socialNetworkIds" : {
          "type" : "array",
          "description" : "Social Network Identification of the person/entity",
          "items" : {
            "type" : "object",
            "properties" : {
              "socialNetworkId" : {
                "type" : "string",
                "description" : "Social Network Identification of the person/entity"
              }
            }
          }
        },
        "prospectLegalDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "legalId" : {
                "type" : "string",
                "description" : "Unique reference number of the legal documents submitted as identification proof"
              },
              "legalDocumentName" : {
                "type" : "string",
                "description" : "Name of the legal documents such as passport, driving licence etc., provided as identification proof"
              }
            }
          }
        },
        "personEntity" : {
          "type" : "string",
          "description" : "Identifies if the record is for a real person or a legal entity. Allowed Options: Person or Entity."
        },
        "gender" : {
          "type" : "string",
          "description" : "Gender of the Individual Customer"
        },
        "birthIncorpDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the entity is incorporated"
        },
        "registeredCountry" : {
          "type" : "string",
          "description" : "Identify which country an entity has been registered."
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status identifier of the account. The values are 'DELETED' if the account is closed, 'BLOCKED' is there are any posting restrictions & 'ENABLED' for active accounts."
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "Contains the current status of the transaction. For example: 'ACCC': 'AcceptedSettlementCompleted' - Settlement on the creditor's account has been completed.'ACCP': 'AcceptedCustomerProfile' - Preceding check of technical validation was successful. Customer profile check was also successful.'CANC': 'Cancelled' Payment initiation has been cancelled before execution Remark: This codeis accepted as new code by ISO20022.'RCVD': 'Received' - Payment initiation has been received by the receiving agent."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "partyProspectCustomerResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/partyProspectCustomerResponseBody"
        }
      },
      "description" : "partyProspectCustomerResponse"
    },
    "partyProspectCustomerResponseBody" : {
      "type" : "object",
      "properties" : {
        "customerNames" : {
          "type" : "array",
          "description" : "Name of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "customerName" : {
                "type" : "string",
                "description" : "Name of the customer"
              }
            }
          }
        },
        "streets" : {
          "type" : "array",
          "description" : "The first line of the base address of a customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "street" : {
                "type" : "string",
                "description" : "Contains the first line of customer's base address, example building number, street number etc."
              }
            }
          }
        },
        "addresses" : {
          "type" : "array",
          "description" : "Communication Address of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "address" : {
                "type" : "string",
                "description" : "Communication Address of the Customer"
              }
            }
          }
        },
        "townCountries" : {
          "type" : "array",
          "description" : "The town and country associated with the address",
          "items" : {
            "type" : "object",
            "properties" : {
              "townCountry" : {
                "type" : "string",
                "description" : "The town and country associated with the address"
              }
            }
          }
        },
        "postCodes" : {
          "type" : "array",
          "description" : "The postal code of the customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "postCode" : {
                "type" : "string",
                "description" : "Identifies the address postal code for the customer."
              }
            }
          }
        },
        "countries" : {
          "type" : "array",
          "description" : "The country component of the base address of a customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "country" : {
                "type" : "string",
                "description" : "Identifies the country of the customer."
              }
            }
          }
        },
        "phoneNumbers" : {
          "type" : "array",
          "description" : "The phone number of the customer or prospect",
          "items" : {
            "type" : "object",
            "properties" : {
              "phoneNumber" : {
                "type" : "string",
                "description" : "The phone number of the customer or prospect"
              }
            }
          }
        },
        "emails" : {
          "type" : "array",
          "description" : "Email Identifier of the Customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "email" : {
                "type" : "string",
                "description" : "Email Identifier of the Customer"
              }
            }
          }
        },
        "socialNetworkIds" : {
          "type" : "array",
          "description" : "Social Network Identification of the person/entity",
          "items" : {
            "type" : "object",
            "properties" : {
              "socialNetworkId" : {
                "type" : "string",
                "description" : "Social Network Identification of the person/entity"
              }
            }
          }
        },
        "prospectLegalDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "legalId" : {
                "type" : "string",
                "description" : "Unique reference number of the legal documents submitted as identification proof"
              },
              "legalDocumentName" : {
                "type" : "string",
                "description" : "Name of the legal documents such as passport, driving licence etc., provided as identification proof"
              }
            }
          }
        },
        "personEntity" : {
          "type" : "string",
          "description" : "Identifies if the record is for a real person or a legal entity. Allowed Options: Person or Entity."
        },
        "gender" : {
          "type" : "string",
          "description" : "Gender of the Individual Customer"
        },
        "birthIncorpDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the entity is incorporated"
        },
        "registeredCountry" : {
          "type" : "string",
          "description" : "Identify which country an entity has been registered."
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "parse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    }
  }
}