{
  "swagger" : "2.0",
  "info" : {
    "description" : "For a given National ID, retrieves the details of that National ID, that is the bank name or business name, and the address.",
    "version" : "v1.0.0",
    "title" : "Reference NationalIds APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/reference/nationalIds/{nationalId}" : {
      "get" : {
        "summary" : "Get details of a National ID",
        "description" : "For a given National ID, retrieves the details of that National ID, that is the bank name or business name, and the address.",
        "operationId" : "getNationalIdDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "nationalId",
          "in" : "path",
          "description" : "National identifier of the institution/branch. This field contains the National bank code for the financial institution (for example, BSC codes for UK banks)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "Specifies the country code of the beneficiary's address ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheme",
          "in" : "query",
          "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "NationalIdDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/NationalIdDetailsResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "Current number of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "NationalIdDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/NationalIdDetailsResponseBody"
        }
      },
      "description" : "NationalIdDetailsResponse"
    },
    "NationalIdDetailsResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "addressInformation" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "addressLine1" : {
                  "type" : "string",
                  "description" : "Indicates first line of the address of the BIC"
                },
                "addressLine2" : {
                  "type" : "string",
                  "description" : "Indicates second line of the address of the BIC"
                },
                "addressLine3" : {
                  "type" : "string",
                  "description" : "Indicates third line of the address of the BIC"
                },
                "addressLine4" : {
                  "type" : "string",
                  "description" : "Indicates fourth line of the address of the BIC"
                },
                "bicLocation1" : {
                  "type" : "string",
                  "description" : "Indicates first line of branch location of the financial institution"
                },
                "bicLocation2" : {
                  "type" : "string",
                  "description" : "Indicates second line of branch location of the financial institution"
                },
                "addressCity" : {
                  "type" : "string",
                  "description" : "The town and/or city component of the base address of a customer"
                },
                "postCode" : {
                  "type" : "string",
                  "description" : "Identifies the address postal code for the customer."
                },
                "countryName" : {
                  "type" : "string",
                  "description" : "This is the country name that the financial institution resides in."
                },
                "countryCode" : {
                  "type" : "string",
                  "description" : "Specifies the country code of the beneficiary's address "
                }
              }
            }
          },
          "nationalId" : {
            "type" : "string",
            "description" : "National identifier of the institution/branch. This field contains the National bank code for the financial institution (for example, BSC codes for UK banks)"
          },
          "scheme" : {
            "type" : "string",
            "description" : "Represents the scheme (a synonym for the National ID type) under which the National ID is defined"
          },
          "institutionName" : {
            "type" : "string",
            "description" : "Contains the name of the institution"
          },
          "branch" : {
            "type" : "string",
            "description" : "The branch information relevant to this BIC code."
          },
          "officeType" : {
            "type" : "string",
            "description" : "Indicates the status of the entity in the office hierarchy e.g. Head Office, Main Payments Office"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}